
.about {
    &-head {
        @include container();
        display: flex;
        margin-bottom: 25px;
    }
    &-img {
        width: 34%;
        min-height: 100%;
    }
    &-img-block {
        display: flex;
        width: 75%;
        height: 100%;
        padding-right: 20px;
        border-right: 1px solid $color7;
        img {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    &-description {
        width: 66%;
        display: flex;
    }
    &-wrapper {
        margin-top: auto;
        margin-bottom: auto;
    }
    &-title {
        margin-top: -13px;
        margin-bottom: 0;
    }
    &-title-label {
        white-space: nowrap;
    }
    &-info {
        margin-top: 20px;
        font-size: 28px;
        font-weight: 300;
        line-height: 38px;
    }
    &-list-wrapper {
        padding-right: $gutter;
        padding-left: $gutter;
    }
    &-list {
        padding-top: 50px;
        padding-bottom: 75px;
    }
    &-list-item {
    }
    &-list-count {
        font-size: 60px;
        font-weight: 900;
        font-family: 'Helvetica';
        color: $color1;
    }
    &-list-description {
        position: relative;
        margin-top: -20px;
        padding-top: 4px;
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
        background-color: #fff;
    }

    .owl-stage {
        display: flex;
    }
}

.company {
    padding-top: 75px;
    padding-bottom: 274px;
    background-color: $color11;
    &-container {
        @include container();
        display: flex;
    }
    &-title {
        min-width: 586px;
        margin-right: 70px;
        margin-bottom: 0;
        padding-right: 60px;
        border-right: 1px solid $color7;
    }
    &-info {
    }
    &-description {
        margin-bottom: 58px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 300;
    }
}

@media screen
and (max-width: $desktop){
}

@media screen
and (max-width: $tablet){
    .about {
        &-title {
            margin-top: -10px;
        }
        &-info {
            font-size: 20px;
            line-height: 30px;
        }
        &-list {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        &-list-count {
            font-size: 30px;
        }
        &-img-block {
            img {
                min-width: 150px;
                width: 150px;
                margin-top: 0;
            }
        }
        &-wrapper {
            margin-top: 0;
        }
        &-list-description {
            margin-top: -13px;
            font-size: 30px;
            line-height: 40px;
        }
        &-list-wrapper {
            margin-right: 60px;
            margin-left: 60px;
        }
        &-list-item {
            &:after {
                content: '';
                position: absolute;
                top: -2px;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 0.7;
            }
        }
        &-list-item.swiper-slide-active {
            &:after {
                display: none;
            }
        }
        &-list-item.swiper-slide-next {
            &:after {
                display: none;
            }
        }
    }
    .company {
        padding-top: 70px;
        padding-bottom: 70px;
        &-title {
            min-width: 348px;
            margin-bottom: 0;
            padding-right: 20px;
            margin-right: 14px;
        }
        &-description {
            margin-bottom: 39px;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .about {
        &-head {
            flex-direction: column;
            align-items: center;
        }
        &-title {
            margin-top: 0;
        }
        &-img {
            width: auto;
            margin-bottom: 35px;
        }
        &-img-block {
            width: 100%;
            padding-right: 0;
            border-right-width: 0;
            text-align: center;
        }
        &-img-block img {
            max-width: 155px;
        }
        &-description {
            width: auto;
        }
        &-info {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
        }
        &-title {
            text-align: center;
        }
        &-list {
            padding-top: 0;
        }
        &-list-wrapper {
            margin-right: 40px;
            margin-left: 40px;
        }
        &-list-description {
            font-size: 18px;
            line-height: 24px;
        }
        &-list-item.swiper-slide-next {
            &:after {
                display: block;
            }
        }
    }

    .company {
        padding-top: 60px;
        padding-bottom: 80px;
        &-container {
            flex-direction: column;
        }
        &-title {
            min-width: auto;
            padding-right: 0;
            margin-right: 0;
            border-right-width: 0;
            margin-bottom: 20px;
            text-align: center;
        }
        &-info {
            text-align: center;
        }
        &-description {
            font-size: 18px;
            line-height: 24px;
        }
    }
}
