
.blog {
    @include container();
    &-title {}
    .owl-stage {
        display: flex;
    }
    .owl-item:not(.active) {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0.7;
        }
    }
    &-list {
        overflow: hidden;
        margin-bottom: 30px;
        padding-top: 5px;
    }
    &-link {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
    }
    &-link:after {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &-list-label {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        padding-top: 31px;
        padding-bottom: 30px;
        background-color: #db352a;
        border-radius: 50%;
        width: 116px;
        height: 116px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-align: center;
    }
    &-list-label-icon {
        display: block;
        margin-bottom: 10px;
        font-size: 22px;
    }
    &-link:hover &-list-label {
        display: block;
    }
    &-img {
        display: block;
        width: 100%;
        transition: transform 0.4s ease-in-out;
    }
    &-link:hover &-img {
        transform: scale(1.1);
    }
    &-link:hover:after {
        display: block;
    }
    &-name {
        @include point();
        text-decoration: none;
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
        font-family: 'Helvetica';
        color: #222;
    }
    &-name:hover {
        text-decoration: underline;
        color: #222;
    }
}

@media screen
and (max-width: $tablet) {
    .blog {
        &-list {
            overflow: visible;
            margin-bottom: 0;
            margin-right: 60px;
            margin-left: 60px;
        }
        &-name {
            font-size: 17px;
            line-height: 24px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .blog {
        &-title {
            text-align: center;
        }
        &-list {
            margin-right: 40px;
            margin-left: 40px;
        }
        &-name {
            font-size: 15px;
            line-height: 22px;
        }
        &-link {
            margin-bottom: 17px;
        }
    }
}
