
.feedback {
    display: flex;
    position: relative;
    padding-top: 39px;
    margin-right: 273px;
    &:after {
        content: '';
        position: absolute;
        top: -19px;
        left: -71px;
        z-index: -1;
        width: 1464px;
        max-width: none;
        height: 687px;
        background: url("../images/feedback/feedback-map-bgr.png") no-repeat 0 0;
    }
    &-page {}
    &-page .header {
        background: none;
        border-bottom: 1px solid #ebebeb;
    }
    &-page .contacts {
        display: none;
    }
    &-page .main-content {
        margin-bottom: 104px;
    }

    &-form {
        width: 59%;
        padding-right: 75px;
        margin-top: 11px;
    }
    &-img {
        width: 40%;
        img {
            width: 357px;
        }
    }
    &-field-button {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-button {
        margin-right: 40px;
        margin-bottom: 28px;
    }
    .messengers {
        margin-bottom: 28px;
    }

    &-info-box {
        color: #fff;
    }
    &-info-box a {
        color: #92c0fb;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
    &-info {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 50%;
        height: calc(100% - 75px);
        padding: 123px 0 80px 33px;
        margin-left: 436px;
        background-color: #124375;
        background-image: url("../images/feedback/stars-bgr-1.png"),
        url("../images/header/header-bgr.png"), url("../images/feedback/feedback-bgr.png");
        background-repeat: repeat-x, repeat, no-repeat;
        background-size: auto, auto, auto 100%;
    }
    &-info-list {
        margin-bottom: 33px;
        font-size: 15px;
        line-height: 19px;
    }
    &-info-item {
        display: flex;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-info-label {
        margin-bottom: 10px;
        font-weight: 600;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-info-title {
        @include point();
        display: block;
        margin-bottom: 23px;
        color: #fff;
        font-size: 25px;
        line-height: 33px;
    }
    &-info-icon {
        margin-top: 4px;
        margin-right: 6px;
        font-size: 13px;
        color: #db352a;
    }
    &-links {
        display: flex;
        flex-wrap: wrap;
    }
    &-links-item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-links-label {
        font-weight: 700;
        text-decoration: underline!important;
    }
    &-info-location {
        display: inline-block;
        width: 55px;
    }
    &-founder {
        display: flex;
    }
    &-founder-img {
        padding-right: 18px;
        margin-right: 23px;
        border-right: 1px solid #206ecf;
    }
    &-founder-block {
        margin-right: 20px;
    }
    &-founder-pic {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        min-width: 104px;
        width: 104px;
        height: 104px;
        border-radius: 50%;
        background-color: #206dce;
        overflow: hidden;
    }
    &-info .messengers-icon {
        color: #92c0fb;
        &:hover {
            color: #92c0fb;
        }
    }
    &-info .messengers-item {
        border-color: #206ecf;
    }
    &-founder-name {
        display: block;
        font-size: 16px;
        font-weight: 700;
    }
    &-founder-label {
        display: block;
        margin-bottom: 16px;
        color: #92c0fb;
    }
    &-founder-list {
        margin-bottom: 25px;
    }
    &-founder-list-item {
        display: flex;
        margin-bottom: 5px;
        font-size: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-founder-list-item:hover &-founder-icon {
        color: #fff;
    }
    &-page .head-panel {
        padding-right: 253px;
        margin-bottom: 54px;
    }
    &-page .footer {
        position: relative;
        z-index: 1;
    }
    &-switch-field {}


    &-page .header-actions {
        border-color: rgba(255, 255, 255, 0.2);
        background-color: transparent;
    }
    &-page .header-actions-item {
        border-bottom-color: rgba(255, 255, 255, 0.2);
    }
    &-page .header-actions-icon {
        color: #fff;
    }
    &-page .header-socials-icon {
        color: $color4;
    }
    &-founder-icon {
        margin-top: 5px;
        margin-right: 6px;
        font-size: 13px;
        color: #db352a;
    }
    &-page .main-title {
        max-width: 79%;
    }
}
.feedback-page .header-socials-link:hover .header-socials-icon {
    color: $color4;
}


@media screen
and (max-width: 1860px) {
    .feedback {
        margin-right: 450px;
        &-info {
            left: 100%;
            width: 490px;
            margin-left: -490px;
        }
        &-page .header-phone {
            position: absolute;
            right: 300px;
        }
        &-form {
            padding-right: 30px;
        }
        &-page .head-panel {
            padding-right: 442px;
        }
    }
}

@media screen
and (max-width: $l-desktop) {
    .feedback {
        &-info {
            width: 430px;
            margin-left: -430px;
        }
        &-page .head-panel {
            padding-right: 455px;
        }
        &-page .header-phone {
            right: 240px;
            margin-right: 0;
        }
    }
}

@media screen
and (max-width: $desktop) {
    .feedback {
        &-page .breadcrumbs {
            order: -1;
            margin-left: 0;
            margin-bottom: 10px;
        }
        &-page .head-panel {
            flex-direction: column;
        }
    }
}

@media screen
and (max-width: $tablet) {
    .feedback {
        margin-right: 49%;
        padding-top: 0;
        &:after {
            top: -122px;
            left: -22px;
        }
        &-form {
            width: 100%;
            padding-right: 0;
        }
        &-img {
            display: none;
        }
        &-info {
            width: 49%;
            left: 51%;
            margin-left: 0;
            padding-top: 109px;

        }
        &-info-list {
            margin-bottom: 48px;
        }
        &-info-label {
            margin-bottom: 5px;
            font-size: 14px;
        }
        &-info-box a {
            font-size: 14px;
        }
        &-founder-pic {
            min-width: 42px;
            width: 42px;
            height: 42px;
        }
        &-founder-img {
            padding-right: 15px;
            margin-right: 18px;
        }
        &-form {
            padding-right: 30px;
        }
        &-info-title {
            font-size: 22px;
        }
        &-switch-field {
            margin-top: 42px;
            margin-bottom: 45px;
        }
        &-page .main-title {
            max-width: none;
        }
        &-page .head-panel {
            padding-right: 51%;
            margin-bottom: 27px;
        }
        &-page .main-content {
            margin-bottom: 96px;
            padding-top: 49px;
        }
        &-field-button {
            flex-direction: column;
            align-items: baseline;
        }
        &-page .header-phone {
            right: 50%;
            margin-right: -200px;
        }
        &-info-box {
            max-width: 290px;
        }
        &-info-item {
            margin-bottom: 27px;
        }
    }
}

@media screen
and (min-width: $mobile){
    .feedback {
        &:after {
            top: -122px;
            left: -77px;
        }
        &-page .header-logo-element {
            fill: #222;
        }
        &-page .header-link {
            color: #222222;
        }
    }
}

@media screen
and (max-width: $mobile){
    .feedback {
        margin-right: 0;
        &:after {
            top: -14px;
            left: 50%;
            margin-left: -806px;
            width: 1264px;
            background-size: 100% auto;
        }
        &-info {
            position: static;
            left: 0;
            width: auto;
            margin: -280px -15px 60px;
            padding: 264px 15px 55px;
            background-position: 0 105px, 0 0, 0 0;
        }
        &-page .main-title {
            color: #fff;
        }
        &-page .head-panel {
            padding-right: 15px;
        }
        &-form {
            width: 100%;
            padding-right: 0;
        }
        &-page .header {
            border-color: rgba(255, 255, 255, 0.2);
        }
        &-page .breadcrumbs {
            margin-bottom: 17px;
        }
        &-page .breadcrumbs-link {
            color: #fff;
        }
        &-page .breadcrumbs-item {
            color: #92c0fb;
        }
        &-page .breadcrumbs-icon {
            color: #fff;
        }
        &-page .main-content {
            padding-top: 28px;
            margin-bottom: 55px;
        }
        &-page .main-title {
            margin-bottom: 5px;
        }
        &-info-title {
            text-align: center;
        }
        &-info-list {
            margin-bottom: 30px;
        }
        &-founder-pic {
            min-width: 49px;
            width: 49px;
            height: 49px;
        }
        &-founder-img {
            padding-right: 14px;
            margin-right: 14px;
        }
        &-info .messengers-icon {
            font-size: 20px;
        }
        &-founder-list-item a {
            font-size: 15px;
        }
        &-form {
            margin-top: 0;
        }
        &-field-button {
            justify-content: center;
            text-align: center;
            align-items: center;
            flex-direction: column;
        }
        &-button {
            margin-right: 0;
        }
    }
}
