
@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
	url('../fonts/open_sans/OpenSans-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
	url('../fonts/open_sans/OpenSans-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
	url('../fonts/open_sans/OpenSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
	url('../fonts/open_sans/OpenSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
	url('../fonts/open_sans/OpenSans-Semibold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
	url('../fonts/open_sans/OpenSans-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
	url('../fonts/open_sans/OpenSans-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
	url('../fonts/open_sans/OpenSans-ExtraBold.ttf');
	font-weight: 800;
}


@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaLightItalic/HelveticaLightItalic.eot');
	src: local('Helvetica Light Italic'), local('HelveticaLightItalic'),
	url('../fonts/helvetica/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaLightItalic/HelveticaLightItalic.woff') format('woff'),
	url('../fonts/helvetica/HelveticaLightItalic/HelveticaLightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaItalic/HelveticaItalic.eot');
	src: local('Helvetica Italic'), local('HelveticaItalic'),
	url('../fonts/helvetica/HelveticaItalic/HelveticaItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaItalic/HelveticaItalic.woff') format('woff'),
	url('../fonts/helvetica/HelveticaItalic/HelveticaItalic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaLight/HelveticaLight.eot');
	src: local('Helvetica Light'), local('HelveticaLight'),
	url('../fonts/helvetica/HelveticaLight/HelveticaLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaLight/HelveticaLight.woff') format('woff'),
	url('../fonts/helvetica/HelveticaLight/HelveticaLight.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaRegular/HelveticaRegular.eot');
	src: local('Helvetica'),
	url('../fonts/helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaRegular/HelveticaRegular.woff') format('woff'),
	url('../fonts/helvetica/HelveticaRegular/HelveticaRegular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaMedium/HelveticaMedium.eot');
	src: local('Helvetica Medium'), local('HelveticaMedium'),
	url('../fonts/helvetica/HelveticaMedium/HelveticaMedium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaMedium/HelveticaMedium.woff') format('woff'),
	url('../fonts/helvetica/HelveticaMedium/HelveticaMedium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaMediumItalic/HelveticaMediumItalic.eot');
	src: local('Helvetica Medium Italic'), local('HelveticaMediumItalic'),
	url('../fonts/helvetica/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaMediumItalic/HelveticaMediumItalic.woff') format('woff'),
	url('../fonts/helvetica/HelveticaMediumItalic/HelveticaMediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaBold/HelveticaBold.eot');
	src: local('Helvetica Bold'), local('HelveticaBold'),
	url('../fonts/helvetica/HelveticaBold/HelveticaBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaBold/HelveticaBold.woff') format('woff'),
	url('../fonts/helvetica/HelveticaBold/HelveticaBold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot');
	src: local('Helvetica Bold Italic'), local('HelveticaBoldItalic'),
	url('../fonts/helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaBoldItalic/HelveticaBoldItalic.woff') format('woff'),
	url('../fonts/helvetica/HelveticaBoldItalic/HelveticaBoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/HelveticaBlack/HelveticaBlack.eot');
	src: local('Helvetica Black'), local('HelveticaBlack'),
	url('../fonts/helvetica/HelveticaBlack/HelveticaBlack.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica/HelveticaBlack/HelveticaBlack.woff') format('woff'),
	url('../fonts/helvetica/HelveticaBlack/HelveticaBlack.ttf') format('truetype');
	font-weight: 900;
}
