
.header {
    position: relative;
    height: 100vh;
    padding-top: 45px;
    padding-bottom: 40px;
    background-color: #124375;
    background-image: url("../images/header/stars-bgr.png"),
    url("../images/header/header-main-bgr.jpg");
    background-repeat: repeat-x, no-repeat;
    background-position: center top, center top;
    background-size: auto auto, auto 100%;
    &-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-top {
        position: relative;
        z-index: 900;
        min-height: 40px;
    }
    &-top-block {}
    &-top-container {
        @include container();
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo {
        margin-right: 83px;
    }
    &-logo-element {
        max-width: 210px;
        max-height: 36px;
        fill:#FFFFFF;
    }
    &-logo-decor {
        fill:#EF4F29;
    }
    &-link {
        margin-top: 3px;
        margin-right: auto;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    &-link-icon {
        position: relative;
        display: inline-block;
        margin-right: 7px;
        width: 11px;
        height: 14px;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 11px;
            height: 2px;
            background-color: $color1;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 11px;
            height: 2px;
            background-color: $color1;
            transform: rotate(90deg);
        }
    }
    &-phone {
        position: relative;
    }
    &-phone-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding-left: 12px;
        padding-right: 12px;
        line-height: 32px;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 34px;
            border-radius: 17px;
            background-color: $color1;
            transition: width  0.5s ease-in-out;
        }
        &:hover:after {
            width: 100%;
        }
    }
    &-phone-label {
        position: relative;
        z-index: 1;
        margin-right: 10px;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    &-phone-icon {
        position: relative;
        z-index: 1;
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
    }
    &-phone-dropdown {
        display: none;
        position: absolute;
        top: calc(100% + 14px);
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        background-color: #fff;
        border-top: 1px solid $color1;
    }
    &-phone_active &-phone-dropdown {
        display: block;
    }
    &-phone_active &-phone-link {
        &:after {
            width: 100%;
        }
    }
    &-phone-list-item {
        padding: 17px 20px;
        &:nth-child(2n) {
            background-color: $color5;
        }
    }
    &-phone-region {
        display: block;
        margin-bottom: 2px;
        margin-left: 17px;
        font-size: 13px;
        color: $color6;
    }
    &-phone-list-icon {
        margin-right: 5px;
        font-size: 13px;
        color: $color1;
    }
    &-phone-number {
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        color: $color6;
        &:hover {
            color: $color6;
        }
    }
    &-phone-hours {
        display: block;
        margin-top: 2px;
        font-size: 13px;
    }
    &-phone-panel {
        padding: 12px 20px 37px 37px;
    }

    &-description {
        @include container();
        position: relative;
        z-index: 1;
        max-width: 950px;
        margin-top: auto;
        margin-bottom: auto;
    }
    &-title {
        text-transform: uppercase;
        margin-bottom: 22px;
        font-family: 'Helvetica';
        font-size: 100px;
        text-align: center;
        font-weight: 900;
        line-height: 120px;
        color: #fff;
    }
    &-info {
        font-family: 'Helvetica';
        font-size: 35px;
        text-align: center;
        color: #fff;
        font-weight: 300;
        line-height: 35px;
    }
    &-panel {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    &-more {
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 150px;
    }
    &-more-icon {
        @include bgrcolor();
        display: block;
        min-width: 46px;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        background-color: $color1;
        border-radius: 50%;
        line-height: 46px;
        font-size: 22px;
        text-align: center;
        color: #fff;
        &:hover {
            background-color: $color2;
        }
        &:active {
            background-color: $color3;
        }
    }
    &-more-label {
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
    }
    &-nav {
        display: flex;
        align-items: center;
    }
    &-nav-link {
        margin-right: 32px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: $color4;
        &:hover {
            color: #fff;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &-actions {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        width: 69px;
        height: 100%;
        border: solid #ebebeb;
        border-width: 0 0 0 1px;
        background-color: #fff;
    }
    &-actions-item {
        display: block;
        border-bottom: 1px solid #ebebeb;
    }
    &-burger {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 68px;
        background-color: $color1;
    }
    &-burger-icon {
        position: relative;
        display: inline-block;
        width: 27px;
        height: 9px;
    }
    &-burger-icon:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        height: 2px;
        background-color: #fff;
        transition: width  0.3s ease-in-out;
    }
    &-burger-icon:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    &-burger:hover &-burger-icon:before {
        width: 100%;
    }
    &-actions-item_socials {
        margin-top: auto;
    }
    &-socials {
        margin-bottom: 13px;
    }
    &-socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        text-decoration: none;
    }
    &-socials-icon {
        font-size: 22px;
        color: #b9b9b9;
    }
    &-actions-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 68px;
    }
    &-actions-link_down {
        display: none;
    }
    &-actions-link_up {
        display: none;
    }
    &-actions-link_up_active {
        display: flex;
    }
    &-actions-icon {
        font-size: 22px;
        color: #222;
    }
    &-menu-switcher-tablet {
        display: none;
    }
    &-menu-switcher-tablet-icon {}
    &-menu-switcher-tablet:hover &-menu-switcher-tablet-icon:before {
        width: 100%;
    }
    &-decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.main-page .header {
    &-actions-link_down {
        display: flex;
    }
    &-actions {
        border-color: rgba(255, 255, 255, 0.2);
        background-color: transparent;
    }
    &-actions-item {
        border-bottom-color: rgba(255, 255, 255, 0.2);
    }
    &-actions-icon {
        color: #fff;
    }
    &-socials-icon {
        color: $color4;
    }
    &-actions-link_up {
        background-color: $color5;
    }
}

.main-content-animate.main-page .header {
    &-actions {
        border-color: #ebebeb;
        background-color: #fff;
    }
    &-actions-item {
        border-bottom-color: #ebebeb;
    }
    &-actions-icon {
        color: #222;
    }
    &-socials-icon {
        color: #b9b9b9;
    }
    &-actions-link_down {
        display: none;
    }
    &-actions-link_up {
        background-color: $color5;
    }
}

.menu {
    &-switcher {
        display: block;
    }
    &-icon {
        display: block;
        width: 25px;
        height: 20px;
        fill: #727272;
    }
    &-block {
        position: fixed;
        top: 0;
        right: 69px;
        z-index: 1;
        width: 100%;
        max-width: 760px;
        height: 100%;
        padding-top: 45px;
        padding-bottom: 70px;
        background-color: #fff;
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(calc(100% + 69px));
    }
    &-decor {
        display: none;
        position: fixed;
        top: 0;
        right: 69px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &_active &-decor {
        display: block;
    }
    &-block.open {
        transform: translateX(0%);
    }

    &-container {
        padding-right: 20px;
        padding-left: 90px;
    }
    &-content {
        height: 100vh;
        overflow-y: auto;
    }
    &-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 780px;
        padding-top: 8px;
        padding-right: 60px;
    }
    &-list-item {
        width: 50%;
        margin-bottom: 56px;
    }
    &-list-item_link {
        display: none;
    }
    &-list-link {
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Helvetica';
        color: $color6;
        &:hover {
            color: $color6;
        }
    }
    &-list-point {
        color: $color1;
    }
    &-list-count {
        position: relative;
        top: -16px;
        display: inline-block;
        margin-right: 3px;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Helvetica';
        color: $color1;
    }

    &-list-region {
        display: block;
        margin-bottom: 3px;
        font-size: 15px;
        font-weight: 600;
        color: $color6;
    }
    &-list-contacts {
        display: flex;
    }
    &-list-contacts-icon {
        margin-top: 4px;
        margin-right: 5px;
        font-size: 13px;
        color: $color1;
    }
    &-list-contacts-description a {
        text-decoration: none;
    }
    &-close {
        position: absolute;
        top: 0;
        right: -69px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68px;
        height: 68px;
        background-color: $color1;
        text-decoration: none;
    }
    &-close-icon {
        font-size: 32px;
        color: #fff;
        display: block;
        overflow: hidden;
        clip-path: polygon(100% 0, 100% 100%, 95% 100%, 0 5%, 0 0);
        transition: clip-path 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &-close:hover &-close-icon {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%, 0 0);
    }
    &-header-link {
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        color: $color1;
        &:hover {
            color: $color1;
            text-decoration: none;
        }
    }
}
body.menu-show {
    overflow: hidden;
}
body.menu-show .header {
    &-actions {
        background-color: #fff;
        border-color: $color7;
    }
    &-actions-item {
        border-color: $color7;
    }
    &-actions-icon {
        color: $color6;
    }
    &-actions-link_down {
        background-color: #f8f8f8;
    }
    &-socials-icon {
        color: $color8;
    }
}


.submenu {
    &-list {
        margin-top: 14px;
        margin-left: 21px;
    }
    &-list-item {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-list-link {
        text-decoration: none;
        color: $color;
        &:hover {
            text-decoration: underline;
            color: $color1;
        }
    }
}

.mob {
    &-menu {
        display: none;
        width: 25px;
        height: 16px;
        overflow: hidden;
    }
    &-menu-switcher {
        display: none;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    &-menu-switcher-icon {
        position: relative;
        display: block;
        width: 27px;
        height: 9px;
    }
    &-menu-switcher-icon:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        height: 2px;
        background-color: #fff;
        transition: width  0.2s ease-in-out;
    }
    &-menu-switcher-icon:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    &-menu-switcher:hover &-menu-switcher-icon:before {
        width: 100%;
    }
    &-close-panel {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        min-height: 68px;
        padding: 5px 15px;
        border-bottom: 1px solid $color7;
    }
    &-close-panel_simple {
    }
    &-company {
        display: flex;
        align-items: center;
        text-decoration: none;
        &-logo {
            margin-right: 20px;
            text-decoration: none;
        }
    }
    &-close {
        position: relative;
        z-index: 3;
        display: block;
        background-color: #fff;
    }
    &-close-icon {
        font-size: 32px;
        color: $color1;
        clip-path: polygon(100% 0, 100% 100%, 94% 100%, 0 6%, 0 0);
        transition: clip-path 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &-close:hover &-close-icon {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 6%, 0 0);
    }
    &-block {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        padding-top: 68px;
        padding-bottom: 25px;
        background-color: #fff;
        border: solid #eaeaea;
        border-width: 0 1px 1px 0;
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(100%);
        overflow-x: hidden;
        overflow-y: auto;
    }
    &-child {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding-top: 68px;
        background-color: #fff;
        transition: transform 0.4s cubic-bezier(.19,1,.22,1);
        transform: translateX(100%);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    &-menu-decor {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 990;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &-menu_active &-menu-decor {
        display: block;
    }
    &-block.open {
        transform: translateX(0%);
    }
    &-block.open &-child {
        display: block;
    }
    &-child.open {
        transform: translateX(0%);
    }

    .mob-is-levels { }
    &-block.mob-is-levels &-nav {
        height: 0;
        overflow: hidden;
    }

    &-child.mob-child-is-current {
        overflow-y: auto;
    }
    &-list {
    }
    &-list-item {
        border-bottom: 1px dotted $color10;
    }
    &-list-link {
        display: flex;
        align-items: center;
        min-height: 41px;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 21px;
        font-weight: 700;
        color: $color6;
        &:hover {
            color: #fff;
            background-color: $color1;
        }
    }
    &-list-link_back {
        position: sticky;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 60px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        border: solid $color7;
        border-width: 1px 0;
        &:hover {
            background-color: transparent;
            color: $color6;
        }
    }
    &-list-item_profile {
        display: none;
        margin-bottom: 10px;
    }
    &-list-item_active {}
    &-list-item_active &-list-link {
        color: #65ba5c;
    }

    &-list-current {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 55px;
        padding-left: 15px;
        padding-right: 15px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: $color;
        background-color: $color11;
        border-bottom: 1px solid #eaeaea;
        &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 18px;
            width: 12px;
            height: 7px;
            background: url("../images/header/mob-menu-arrow.png") no-repeat 0 0;
        }
    }

    &-list-child-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 57px;
        padding: 12px 15px;
        text-decoration: none;
        font-size: 15px;
        line-height: 21px;
        color: $color;
        &:hover {
            color: #fff;
            background-color: $color1;
        }
    }
    &-back-icon {
        margin-right: 7px;
        font-size: 18px;
    }
    &-list-img {
        margin-right: 13px;
        vertical-align: middle;
    }
    &-list-icon {
        margin-left: auto;
        vertical-align: middle;
        font-size: 12px;
        color: #949391;
    }
    &-link {
        color: #1c1c1c;
    }

    &-list-category {
        display: block;
    }
    &-user-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    &-list-link:hover &-list-icon {
        color: #fff;
    }
    &-list-link:hover &-user-icon {
        fill: #335aa6;
    }

    &-list-link_simple {
        min-height: 50px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 15px;
        text-transform: none;
    }
    &-info {
        padding: 20px 15px;
        font-size: 15px;
        border-bottom: 1px solid #ebebeb;
        &:last-child {
            border-bottom-width: 0;
        }
    }
    &-info-title {
        display: block;
        margin-bottom: 13px;
        font-size: 15px;
        font-weight: 600;
        color: $color6;
    }
    &-info-label {
    }
    &-list-informer {
        margin-left: auto;
        display: inline-block;
        min-width: 16px;
        height: 16px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 8px;
        background-color: #46bb4b;
        text-align: center;
        font-size: 10px;
        line-height: 17px;
        color: #fff;
    }
    &-user-info {
        display: flex;
        align-items: center;
    }
    &-callback-button {
        line-height: 0;
    }
    &-socials-title {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
    }
    &-socials {
        display: flex;
        align-items: center;
        &-item {
            padding-left: 14px;
            padding-right: 14px;
            border-right: 1px solid #e5e5e5;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right-width: 0;
            }
        }
        &-link {
            text-decoration: none;
        }
        &-icon {
            display: block;
            font-size: 25px;
            color: $color6;
        }
        &-link:hover &-icon {
            color: $color1;
        }
    }
    &-list-item_special {
        background-color: rgba(230, 240, 249, 0.46);
    }
    &-list-item_special &-list-picture {
        fill: #46bb4b;
    }
    &-title {
        margin-top: 1px;
        margin-right: 10px;
        font-size: 14px;
        color: #2a364d;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-header-link {
        margin-right: auto;
        font-size: 14px;
        font-weight: 700;
        color: $color1;
        &:hover {
            text-decoration: none;
            color: $color1;
        }
    }

    &-contacts {
    }
    &-contacts-item {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-contacts-block {
        display: flex;
    }
    &-contacts-icon {
        margin-top: 4px;
        margin-right: 5px;
        font-size: 13px;
        color: $color1;
    }
    &-contacts-name {
        display: block;
        margin-bottom: 3px;
        font-size: 15px;
        font-weight: 600;
        color: $color6;
    }
    &-contacts-description {
        max-width: 210px;
        a {
            text-decoration: none;
        }
    }
}

.messengers {
    display: flex;
    align-items: center;
    &-item {
        padding-left: 14px;
        padding-right: 14px;
        border-right: 1px solid #e5e5e5;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            border-right-width: 0;
        }
    }
    &-icon {
        display: block;
        font-size: 25px;
        color: $color6;
    }
    &-link {
        text-decoration: none;
    }
    &-link:hover &-icon {
        color: $color1;
    }
}

.contacts-popup {
    &-list {
        padding-top: 8px;
    }
    &-list-item {
        padding-bottom: 50px;
        margin-bottom: 60px;
        border-bottom: 1px solid #ebebeb;
        &:last-child {
            border-bottom-width: 0;
            margin-bottom: 0;
        }
    }
    &-info {
        margin-top: 30px;
        margin-left: 5px;
    }
    &-list-icon {
        margin-right: 5px;
        font-size: 13px;
        color: $color1;
    }

    &-data {
        display: flex;
        flex-wrap: wrap;
    }
    &-data-item {
        display: flex;
        width: 43%;
        margin-bottom: 50px;
        padding-right: 30px;
    }
    &-data-name {
        display: block;
        margin-bottom: 3px;
        font-size: 15px;
        font-weight: 600;
        color: $color6;
    }
    &-data-description a {
        text-decoration: none;
    }
    &-data-icon {
        margin-top: 4px;
        margin-right: 5px;
        font-size: 13px;
        color: $color1;
    }
}

@media screen
and (max-width: $desktop) {
    .header {
        &-title {
            font-size: 70px;
            line-height: 70px;
        }
        &-link {
            display: none;
        }
        &-info {
            font-size: 30px;
        }
    }
}

@media screen
and (max-width: 1600px){
    .header {
        &-menu-switcher-tablet {
            display: block;
        }
        &-actions {
            visibility: hidden;
        }
        &-phone {
            margin-right: 70px;
            margin-left: auto;
        }
        &-top-block_fix {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fff;
            box-shadow: 3.5px 6.062px 13px 0px rgba(0, 0, 0, 0.06);
        }
        &-top-block_fix &-top-container {
            height: 56px;
        }
        &-top-block_fix &-logo-element {
            width: 153px;
            fill: #212221;
        }
        &-top-block_fix &-phone-label {
            color: $color6;
        }
        &-top-block_fix &-phone-link:after {
            background-color: $color10;
        }
        &-top-block_fix &-phone-icon {
            color: $color6;
        }
        &-top-block_fix &-phone-dropdown {
            top: calc(100% + 11px);
        }
        &-top-block_fix &-link {
            color: $color6;
        }
    }
    .header-top-block_fix .mob-menu-switcher-icon:before {
       background-color: $color1;
    }
    .header-top-block_fix .mob-menu-switcher-icon:after {
        background-color: $color1;
    }
    body.menu-show .header {
        &-actions {
            visibility: visible;
        }
    }
    .menu {
        &-list-item_link {
            display: block;
        }
    }
}

@media screen
and (max-width: $tablet){
    .header {
        &-info-label {
            display: none;
        }
        &-decor {
            display: none;
        }
        &-container {
            background: url("../images/header/decor-bgr-tablet.png") no-repeat center center;
            background-size: contain;
        }
    }

    .menu {
        &-block {
            max-width: none;
        }
    }
}

@media screen
and (max-width: $mobile){
    .header {
        padding-bottom: 53px;
        &-container {
            background-image: url("../images/header/decor-bgr-mob.png");
            background-position: center calc(50% - 16px);
            background-size: auto;
        }
        &-logo-element {
            max-width: 160px;
        }
        &-phone {
            display: none;
        }
        &-title {
            margin-bottom: 14px;
            font-size: 30px;
            line-height: 37px;
        }
        &-info {
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
            font-size: 19px;
            line-height: 26px;
        }
        &-info-label {
            display: inline;
        }
        &-panel {
            justify-content: center;
        }
        &-nav {
            display: none;
        }
        &-menu-switcher-tablet {
            display: none;
        }
        &-actions {
            display: none;
        }
        &-top-block_fix &-top-container {
            height: 50px;
        }
        &-top-block_fix &-logo-element {
            width: 126px;
        }
    }
    .mob {
        &-menu-switcher {
            display: block;
        }
        &-menu {
            display: block;
        }
    }
}
