
.portfolio-list {
    margin-bottom: 110px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color7;
    &-container {
        @include container();
    }
    &-main {
        display: none;
    }
    &-item {
        margin-bottom: 75px;
    }
    &-item_simple {}
    &-content {
        justify-content: space-between;
        align-items: flex-start;
    }
    &-col {
        &:nth-child(2) {
           margin-top: 55px;
        }
    }
    &-link {
        position: relative;
        display: block;
        margin-bottom: 20px;
        overflow: hidden;
    }
    &-link:after {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &-img {
        display: block;
        width: 100%;
        transition: transform  0.4s ease-in-out;
    }
    &-link:hover &-img {
        transform: scale(1.1);
    }
    &-link:hover:after {
        display: block;
    }
    &-name {
        @include point();
        display: block;
        text-decoration: none;
        font-size: 25px;
        line-height: 33px;
        font-weight: 700;
        font-family: 'Helvetica';
        color: $color6;
        &:hover {
            text-decoration: underline;
            color: $color6;
        }
    }
    &-label {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        margin-top: -36px;
        padding-top: 31px;
        padding-bottom: 30px;
        background-color: $color1;
        border-radius: 50%;
        width: 116px;
        height: 116px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-align: center;
    }
    &-item_simple &-label {
        margin-top: 0;
    }
    &-label-icon {
        display: block;
        margin-bottom: 10px;
        font-size: 22px;
    }
    &-link:hover &-label {
        display: block;
    }
    &-informer {
        position: absolute;
        left: 0;
        bottom: 25px;
        z-index: 1;
        width: calc(100% - 50px);
        display: flex;
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 19px;
        padding-bottom: 19px;
        background-color: #fff;
    }
    &-informer-item {
        width: 33.3%;
        border-right: 1px dotted $color14;
        padding-left: 20px;
        padding-right: 20px;
        &:last-child {
            border-right-width: 0;
        }
    }
    &-informer-digit {
        display: block;
        margin-bottom: 2px;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        color: $color6;
    }
    &-informer-label {
        display: block;
        max-width: 80px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 15px;
        line-height: 21px;
    }
    &-informer-item:last-child &-informer-label {
        max-width: 109px;
    }
    &-informer-symbol {
        color: $color1;
    }
    &-more {
        top: -57px;
    }
    &-col:nth-child(2) &-banner {
        padding-left: 100px;
        padding-right: 0;
        &:after {
            right: auto;
            left: 100%;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9px;
    &-item {
        margin-right: 12px;
        margin-bottom: 6px;
        padding-right: 12px;
        border-right: 1px solid $color14;
        line-height: 13px;
        &:last-child {
            padding-right: 0;
            margin-right: 0;
            border-right-width: 0;
        }
    }
    &-link {
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        color: $color;
        &:hover {
            color: $color1;
        }
    }
}

@media screen
and (min-width: $desktop){
    .main-page .portfolio-list {
        &-item {
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-col {
            &:nth-child(1) {
                margin-bottom: 85px;
            }
        }
    }
}

@media screen
and (max-width: $tablet){
    .portfolio-list {
        margin-bottom: 60px;
        padding-bottom: 75px;
        &-col {
            &:nth-child(2) {
                margin-top: 0;
            }
        }
        &-item {
            &:last-child {
                margin-bottom: 45px;
            }
        }
        &-link:hover &-label {
            display: none;
        }
        &-content {
            visibility: hidden;
            height: 0;
            overflow: hidden;
        }
        &-main {
            display: block;
        }
        &-more {
            top: 0;
        }
    }
}

@media screen
and (max-width: $mobile){
    .portfolio-list {
        margin-bottom: 45px;
        padding-bottom: 42px;
        &-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 40px;
            }
        }
        &-name {
            margin-bottom: 9px;
            font-size: 18px;
            line-height: 24px;
        }
        &-link {
            margin-bottom: 15px;
        }
        &-tags {
            order: 1;
            margin-bottom: 0;
        }
        &-informer {
            bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 12px;
            padding-bottom: 12px;
            width: calc(100% - 20px);
        }
        &-informer-item {
            padding-left: 10px;
            padding-right: 10px;
        }
        &-informer-digit {
            font-size: 14px;
        }
        &-informer-label {
            font-size: 12px;
            line-height: 15px;
        }
        &-informer-label {
            max-width: 64px;
        }
        &-informer-item:last-child &-informer-label {
            max-width: 93px;
        }
    }
}
