
.seo-main {
    display: flex;
    margin-top: -4px;
    margin-bottom: 63px;
    &-info {
        width: 65%;
        max-width: 725px;
        padding-right: 30px;
    }
    &-content {
        margin-bottom: 41px;
        font-size: 28px;
        color: #979797;
        line-height: 38px;
        font-weight: 300;
        p {
            margin-bottom: 38px;
        }
    }
    &-img {
        width: 35%;
        margin-left: auto;
        margin-right: -14px;
        display: flex;
        align-items: flex-start;
    }
    &-showreel {
        margin-top: 0;
    }
}

.seo-rating {
    display: flex;
    margin-bottom: 55px;
    &-list {
        margin-right: -$gutter;
        margin-left: -$gutter;
    }
    &-list-item {
        width: 25%;
        margin-bottom: 30px;
        padding-right: $gutter;
        padding-left: $gutter;
    }
    &-list-block {
        height: 100%;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 40px 0 rgba( 1, 1, 1, 0.06 );
    }
    &-list-link {
        display: block;
        text-decoration: none;
    }
    &-position {
        display: block;
        margin-bottom: 5px;
        font-size: 9px;
        line-height: 16px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 34, 34, 34 );
        font-weight: 700;
        text-transform: uppercase;
    }
    &-digit {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 15px;
        font-size: 30px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 219, 53, 42 );
        text-transform: uppercase;
        font-weight: 900;
        background: url("../images/about-detail/rating-decor.png") no-repeat center bottom;
    }
    &-label {
        display: block;
        margin-bottom: 8px;
        font-size: 11px;
        line-height: 18px;
        font-family: "OpenSans", sans-serif;
        color: rgb( 34, 34, 34 );
    }
    &-name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-family: "OpenSans", sans-serif;
        color: rgb( 151, 151, 151 );
        line-height: 21px;
    }
    &-info {
        margin-top: -4px;
        max-width: 424px;
        text-align: right;
        font-size: 55px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 34, 34, 34 );
        line-height: 67px;
        font-weight: 900;
        span {
            color: #df2c31;
        }
    }
    &-location {
        display: block;
        font-size: 14px;
    }
    &-icon {
        font-size: 15px;
    }
}

.seo-problems {
    position: relative;
    margin-bottom: 63px;
    &-container {
        margin-left: 34.3%;
        padding: 70px 0 48px 109px;
        background-color: $color1;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: $color1;
        }
    }
    &-block {
        @include clearfix();
    }
    &-item {
        float: left;
        clear: both;
        position: relative;
        padding-bottom: 25px;
        &:before {
            display: none;
            content: '';
            position: absolute;
            top: 19px;
            left: -109px;
            width: 80px;
            height: 1px;
            background-color: #fff;
        }
        &:after {
            display: none;
            content: '';
            position: absolute;
            top: 19px;
            left: -219px;
            width: 110px;
            height: 1px;
            background-color: $color1;
        }
    }
    &-item:nth-child(2n) &-link {
        color: #fff;
    }
    &-item:nth-last-child(-n+2) &-link {
        color: #fff;
        font-weight: 600;
    }
    &-link {
        text-decoration: none;
        font-size: 28px;
        font-weight: 300;
        line-height: 38px;
        color: #ffb8b2;
    }
    &-item:hover {
        &:before {
            display: block;
        }
        &:after {
            display: block;
        }
    }
    &-item:hover &-link {
        color: #fff;
    }
    &-icon {
        margin-left: 7px;
        font-size: 25px;
    }
    &-title {
        position: absolute;
        top: 55px;
        left: 0;
        width: 332px;
        transition: top 0.2s ease-in-out;
    }
    &-item:nth-child(1):hover ~ &-title {
    }
    &-item:nth-child(2):hover ~ &-title {
        top: 135px;
    }
    &-item:nth-child(3):hover ~ &-title {
        top: 218px;
    }
    &-item:nth-child(4):hover ~ &-title {
        top: 301px;
    }
    &-item:nth-child(5):hover ~ &-title {
        top: 384px;
    }
    &-item:nth-child(6):hover ~ &-title {
        top: 405px;
    }
    &-item:nth-child(7):hover ~ &-title {
        top: 550px;
    }
}

@media screen
and (max-width: $desktop) {
    .seo-problems {
        &-item {
            &:after {
                left: -139px;
                width: 30px;
            }
        }
    }
}

@media screen
and (max-width: $tablet) {
    .seo-main {
        margin-top: -10px;
        margin-bottom: 60px;
        &-content {
            margin-bottom: 36px;
            font-size: 20px;
            line-height: 30px;
            p {
                margin-bottom: 30px;
            }
        }
        &-img {
            margin-right: 0;
        }
    }
    .seo-rating {
        flex-direction: column;
        margin-bottom: 25px;
        &-info {
            order: -1;
            max-width: none;
            text-align: left;
            font-size: 35px;
            line-height: 45px;
            margin-bottom: 35px;
        }
    }
    .seo-problems {
        margin-bottom: 43px;
        &-container {
            padding-top: 47px;
            padding-left: 60px;
            padding-bottom: 24px;
        }
        &-item {
            padding-bottom: 24px;
            &:before {
                top: 13px;
                left: -60px;
                width: 30px;
            }
            &:after {
                top: 13px;
                left: -90px;
                width: 30px;
            }
        }
        &-link {
            font-size: 20px;
            line-height: 30px;
        }
        &-icon {
            font-size: 20px;
        }
        &-title {
            top: 37px;
            width: 202px;
        }
        &-item:nth-child(2):hover ~ &-title {
            top: 120px;
        }
        &-item:nth-child(3):hover ~ &-title {
            top: 201px;
        }
        &-item:nth-child(4):hover ~ &-title {
            top: 257px;
        }
        &-item:nth-child(5):hover ~ &-title {
            top: 342px;
        }
        &-item:nth-child(6):hover ~ &-title {
            top: 393px;
        }
        &-item:nth-child(7):hover ~ &-title {
            top: 430px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .seo-main {
        flex-direction: column;
        margin-bottom: 47px;
        margin-top: -8px;
        &-info {
            width: 100%;
            max-width: none;
            padding-right: 0;
            margin-bottom: 35px;
            text-align: center;
        }
        &-img {
            width: 100%;
            margin-left: 0;
        }
        &-content {
            margin-bottom: 33px;
            font-size: 18px;
            line-height: 24px;
            p {
                margin-bottom: 25px;
            }
        }
    }
    .seo-rating {
        margin-bottom: 20px;
        &-list {
            margin-right: -5px;
            margin-left: -5px;
        }
        &-list-item {
            width: 50%;
            padding-right: 5px;
            padding-left: 5px;
        }
        &-list-block {
            min-height: 230px;
        }
        &-info {
            font-size: 28px;
            line-height: 35px;
            text-align: center;
        }
    }
    .seo-problems {
        margin-left: -$gutter;
        margin-right: -$gutter;
        margin-bottom: 43px;
        &-container {
            display: flex;
            justify-content: center;
            margin-left: 0;
            padding: 42px $gutter 12px;
            &:after {
                display: none;
            }
        }
        &-block {
            display: flex;
            flex-direction: column;
        }
        &-item {
            padding-bottom: 26px;
        }
        &-item:hover {
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
        }
        &-link {
            text-align: center;
            font-size: 18px;
            line-height: 28px;
        }
        &-title {
            order: -1;
            position: static;
            width: auto;
            text-align: center;
            margin-bottom: 22px;
            color: #fff;
            &:after {
                color: #ffb8b2;
            }
        }
    }
}


.seo-portfolio {
    margin-bottom: 67px;
    border-bottom: 1px solid #ebebeb;
    .pager {
        display: none;
    }
    .load-more {
        border-bottom-width: 0;
    }
}

.seo-clients {
    margin-bottom: 70px;
    border-bottom: 1px solid #ebebeb;
    .clients {
        margin-bottom: 75px;
    }
    .h1 {
        margin-bottom: 14px;
    }
}

.seo-instruments {
    margin-bottom: 78px;
    &-list {
    }
    &-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px dotted #d6d6d6;
        text-align: center;
    }
    .owl-item:last-child &-item {
        border-right-width: 0;
    }
    .owl-item:not(.active) {
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 2px);
            height: 100%;
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
    &-img {
    }
    .owl-stage {
        display: flex;
    }
}

.seo-about {
    @include container();
    display: flex;
    margin-bottom: 59px;
    &-img {
        width: 36.5%;
        min-height: 100%;
    }
    &-img-block {
        display: flex;
        width: 77%;
        height: 100%;
        padding-right: 20px;
        border-right: 1px solid $color7;
        img {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 32px;
        }
    }
    &-description {
        width: 63.5%;
        display: flex;
    }
    &-wrapper {
        margin-top: 12px;
    }
    &-title {
        margin-bottom: 34px;
    }
    &-info {
        font-size: 28px;
        font-weight: 300;
        line-height: 38px;
    }
}

.seo-stages {
    margin-bottom: 103px;
    &-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: -$gutter;
        margin-right: -$gutter;
    }
    &-item {
        display: flex;
        align-items: center;
        width: 50%;
        padding-left: $gutter;
        padding-right: $gutter;
    }
    &-item:nth-child(2n) {
        margin-top: -85px;
        margin-left: auto;
    }
    &-item:nth-child(6) {
        margin-top: -53px;
    }
    &-item:nth-child(8) {
        margin-top: -49px;
    }
    &-pic {
        min-width: 215px;
        padding-right: 30px;
    }
    &-img {
    }
    &-info {
        margin-top: -5px;
    }
    &-name {
        display: block;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 34, 34, 34 );
        font-weight: 700;
        line-height: 35px;
        @include point();
    }
    &-description {
        p:last-child {
            margin-bottom: 0;
        }
    }
    .owl-stage {
        display: flex;
    }
}

.seo-advantages {
    margin-bottom: 67px;
    padding-top: 66px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
    &-title {
        margin-bottom: 57px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$gutter;
        margin-right: -$gutter;
    }
    &-list-item {
        width: 25%;
        margin-bottom: 30px;
        padding-left: $gutter;
        padding-right: $gutter;
    }
    &-block {
        height: 100%;
        padding: 36px 15px 50px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 40px 0px rgba(1, 1, 1, 0.06);
    }
    &-name {
        display: block;
        margin-bottom: 12px;
        font-size: 20px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 34, 34, 34 );
        font-weight: 700;
        line-height: 27px;
        @include point();
    }
    &-img {
        display: block;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    &-info {
    }
}

.seo-price {
    margin-bottom: 41px;
    &-title {}
    &-menu {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    &-menu-item {
        margin-right: 41px;
        margin-bottom: 20px;
    }
    &-menu-link {
        font-size: 17px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 34, 34, 34 );
        &:hover {
            color: #df2c31;
            text-decoration: none;
        }
    }
    &-menu-item_active {}
    &-menu-item_active &-menu-link {
        color: #df2c31;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$gutter;
        margin-right: -$gutter;
    }
    &-list-item {
        width: 50%;
        margin-bottom: 30px;
        padding-left: $gutter;
        padding-right: $gutter;
    }
    &-list-block {
        position: relative;
        height: 100%;
        padding: 46px 30px 45px;
        background: #fff;
        box-shadow: 0px 0px 40px 0px rgba(1, 1, 1, 0.06);
        &:after {
            content: '';
            position: absolute;
            top: 44px;
            right: 0;
            width: 75px;
            height: 54px;
            background: url(../images/seo/seo-price/seo-price-decor.png) no-repeat right top;
            background-size: 100% auto;
        }
    }
    &-panel {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }
    &-name {
        min-width: 175px;
        max-width: 250px;
        padding-right: 15px;
        margin-right: 22px;
        border-right: 1px solid #ebebeb;
    }
    &-info {
        max-width: 310px;
    }
    &-name-main {
        display: block;
        margin-bottom: 1px;
        font-size: 35px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 34, 34, 34 );
        font-weight: 700;
        line-height: 32px;
        @include point();
    }
    &-name-label {
        display: block;
        font-size: 18px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 34, 34, 34 );
        font-weight: 700;
        line-height: 27px;
    }
    &-content {
        display: flex;
        margin-bottom: 24px;
    }
    &-description {
        flex-grow: 1;
        max-width: 400px;
        padding-right: 30px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
    }
    &-sum {
        margin-left: auto;
    }
    &-sum-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 136px;
        width: 136px;
        height: 129px;
        background: url(../images/seo/seo-price/seo-price-bgr.png) no-repeat 0 0;
    }
    &-sum-value {
        margin-top: 7px;
        margin-bottom: 7px;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        line-height: 23px;
    }
    &-sum-label {
        display: block;
        font-size: 15px;
        color: rgb( 255, 184, 178 );
        line-height: 23px;
    }
    &-actions {
    }
    &-link {
        margin-right: 22px;
    }
    &-block {
        display: none;
    }
    &-block_active {
        display: block;
    }
}

.seo-feedback {
    margin-bottom: 70px;
    padding-top: 75px;
    padding-bottom: 77px;
    background-color: #f8f8f8;
    &-info {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 300;
    }
    &-content {
        display: flex;
    }
    &-form {
        width: 62%;
        padding-right: 42px;
    }
    &-img {
        width: 38%;
        margin-right: 10px;
        margin-top: 104px;
    }
    &-switch-field {}
    &-buttons {}
    &-button {
        padding-right: 25px;
        padding-left: 25px;
    }
}

.seo-services {
    margin-bottom: 65px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ebebeb;
    &-title {
        margin-bottom: 48px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$gutter;
        margin-right: -$gutter;
    }
    &-list-item {
        width: 50%;
        margin-bottom: 30px;
        padding-left: $gutter;
        padding-right: $gutter;
    }
    &-list-block {
        position: relative;
        height: 100%;
        padding: 35px 30px 45px;
        background: #fff;
        box-shadow: 0px 0px 40px 0px rgba(1, 1, 1, 0.06);
        &:after {
            content: '';
            position: absolute;
            top: 39px;
            right: 0;
            width: 75px;
            height: 38px;
            background: url(../images/seo/seo-price/seo-price-decor.png) no-repeat right top;
            background-size: 100% auto;
        }
    }
    &-name {
        margin-bottom: 30px;
    }
    &-content {
        display: flex;
        align-items: flex-start;
    }
    &-description {
        flex-grow: 1;
        max-width: 400px;
        margin-bottom: 25px;
        padding-right: 30px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
    }
    &-sum {
        margin-left: auto;
    }
    &-sum-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 136px;
        width: 136px;
        height: 129px;
        background: url(../images/seo/seo-services/seo-services-bgr.png) no-repeat 0 0;
    }
    &-sum-value {
        margin-top: 7px;
        margin-bottom: 7px;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        line-height: 23px;
    }
    &-sum-label {
        display: block;
        font-size: 15px;
        color: rgb( 255, 184, 178 );
        line-height: 23px;
    }
    &-actions {
        margin-top: -12px;
    }
}

@media screen
and (max-width: $desktop) {
    .seo-price {
        &-list-block {
            &:after {
                width: 63px;
            }
        }
    }
    .seo-services {
        &-list-block {
            &:after {
                top: 44px;
                width: 63px;
            }
        }
    }
}

@media screen
and (max-width: $tablet) {
    .seo-portfolio {
        margin-bottom: 0;
        border-bottom-width: 0;
        .h1 {
            text-align: center;
        }
        .load-more {
            margin-bottom: 0;
            padding-bottom: 41px;
        }
    }
    .seo-clients {
        margin-bottom: 55px;
        .h1 {
            margin-bottom: 8px;
        }
        .clients {
            margin-bottom: 58px;
        }
    }
    .seo-about {
        margin-bottom: 41px;
        &-title {
            margin-top: -10px;
            margin-bottom: 21px;
        }
        &-info {
            font-size: 20px;
            line-height: 30px;
        }
        &-list {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        &-list-count {
            font-size: 30px;
        }
        &-img {
            width: 35%;
        }
        &-description {
            width: 65%;
        }
        &-img-block {
            img {
                min-width: 150px;
                width: 150px;
                margin-top: 0;
                margin-left: 0;
            }
        }
        &-wrapper {
            margin-top: 0;
        }
    }
    .seo-instruments {
        margin-bottom: 40px;
        &-item {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .seo-stages {
        margin-bottom: 19px;
        &-list {
            display: block;
            margin-left: 60px;
            margin-right: 60px;
        }
        &-item {
            display: block;
            width: auto;
            padding-left: 0;
            padding-right: 0;
        }
        &-item:nth-child(6) {
            margin-top: 0;
        }
        &-item:nth-child(8) {
            margin-top: 0;
        }
        &-pic {
            margin-bottom: 15px;
            padding-right: 0;
        }
        &-name {
            margin-bottom: 13px;
            font-size: 20px;
            font-family: "Helvetica", sans-serif;
            color: rgb( 34, 34, 34 );
            font-weight: 700;
            line-height: 30px;
        }
        .owl-item:not(.active) {
            position: relative;
            overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 2px);
                height: 100%;
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
    }
    .seo-advantages {
        margin-bottom: 50px;
        padding-top: 45px;
        padding-bottom: 20px;
        &-title {
            margin-bottom: 28px;
        }
        &-list-item {
            width: 50%;
        }
    }
    .seo-price {
        margin-bottom: 25px;
        &-title {
            margin-bottom: 17px;
        }
        &-menu-item {
            margin-bottom: 13px;
        }
        &-panel {
            flex-direction: column;
            margin-bottom: 22px;
        }
        &-content {
            flex-direction: column;
            margin-bottom: 25px;
        }
        &-list-block {
            display: flex;
            flex-direction: column;
            padding: 35px 20px 38px;
        }
        &-name {
            min-width: auto;
            max-width: none;
            padding-right: 0;
            margin-right: 0;
            margin-bottom: 10px;
            border-right-width: 0;
            text-align: center;
        }
        &-name-main {
            font-size: 25px;
        }
        &-info {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }
        &-sum {
            order: -1;
            margin-right: auto;
            margin-bottom: 20px;
        }
        &-description {
            padding-right: 0;
            text-align: center;
            font-size: 18px;
            line-height: 28px;
        }
        &-actions {
            text-align: center;
            margin-top: auto;
        }
        &-link {
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-link_more {
            padding-left: 0;
            padding-right: 0;
            line-height: 20px;
            text-decoration: underline;
            &:after {
                display: none;
            }
            &:hover {
                text-decoration: none;
            }
        }
        &-link-label {
            text-transform: none;
            font-size: 14px;
            font-weight: normal;
        }
        &-link_more:hover &-link-label {
            color: #222222;
        }
        &-link-icon {
            display: none;
        }
    }
    .seo-feedback {
        margin-bottom: 45px;
        padding-top: 45px;
        padding-bottom: 56px;
        &-content {
            align-items: center;
        }
        &-form {
            padding-right: 30px;
        }
        &-title {
            margin-bottom: 12px;
        }
        &-info {
            margin-bottom: 40px;
            font-size: 20px;
            line-height: 30px;
        }
        &-switch-field {
            margin-right: -6px;
        }
        &-img {
            margin-top: 99px;
        }
    }
    .seo-services {
        margin-bottom: 17px;
        padding-bottom: 0;
        border-bottom-width: 0;
        &-title {
            margin-bottom: 35px;
        }
        &-content {
            flex-direction: column;
        }
        &-list-block {
            display: flex;
            flex-direction: column;
            padding: 40px 20px 50px;
            &:after {
                height: 42px;
            }
        }
        &-name {
            margin-bottom: 28px;
            text-align: center;
            min-height: 60px;
        }
        &-description {
            max-width: none;
            padding-right: 0;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
        }
        &-sum {
            order: -1;
            margin-right: auto;
            margin-bottom: 20px;
        }
        &-actions {
            margin-top: auto;
            text-align: center;
        }
    }
}

@media screen
and (max-width: $mobile){
    .seo-portfolio {
         .h1 {
           margin-bottom: 22px;
        }
    }
    .seo-clients {
        margin-bottom: 48px;
    }
    .seo-about {
        flex-direction: column;
        margin-bottom: 33px;
        &-head {
            flex-direction: column;
            align-items: center;
        }
        &-title {
            margin-top: 0;
            margin-bottom: 13px;
            text-align: center;
        }
        &-img {
            width: auto;
            margin-bottom: 40px;
        }
        &-img-block {
            width: 100%;
            padding-right: 0;
            border-right-width: 0;
            text-align: center;
        }
        &-img-block img {
            max-width: 155px;
            margin-left: auto;
            margin-right: auto;
        }
        &-description {
            width: auto;
        }
        &-info {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
        }
    }
    .seo-instruments {
        margin-bottom: 55px;
        &-list {
            margin-left: 40px;
            margin-right: 40px;
        }
    }
    .seo-stages {
        margin-bottom: 18px;
        &-list {
            margin-left: 30px;
            margin-right: 30px;
        }
        &-pic {
            margin-bottom: 12px;
            text-align: center;
        }
        &-name {
            margin-bottom: 15px;
            text-align: center;
            font-size: 18px;
            line-height: 24px;
        }
        &-description {
            text-align: center;
        }
    }
    .seo-advantages {
        margin-bottom: 40px;
        padding-bottom: 50px;
        &-list {
            display: block;
            flex-wrap: wrap;
            margin-left: 40px;
            margin-right: 40px;
        }
        &-list-item {
            width: 100%;
            height: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
        }
        &-block {
            padding: 32px 10px 25px;
        }
        &-img {
            margin-bottom: 20px;
        }
        &-name {
            margin-bottom: 8px;
            font-size: 18px;
            line-height: 27px;
        }
        .owl-stage {
            display: flex;
        }
        .owl-item:not(.active) {
            position: relative;
            overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 2px);
                height: 100%;
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
    }
    .seo-price {
        margin-bottom: 52px;
        &-title {
            margin-bottom: 22px;
        }
        &-panel {
            margin-bottom: 19px;
        }
        &-menu {
            margin-bottom: 20px;
            align-items: center;
            flex-direction: column;
        }
        &-menu-item {
            margin-right: 0;
            margin-bottom: 17px;
        }
        &-list-block {
            padding-top: 38px;
            padding-bottom: 28px;
            &:after {
                display: none;
            }
        }
        .owl-stage {
            display: flex;
        }
        .owl-item:not(.active) {
            position: relative;
            overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 2px);
                height: 100%;
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
        &-list {
            display: block;
            margin-left: 0;
            margin-right: 45px;
        }
        &-list-item {
            width: 100%;
            height: 100%;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }
        &-name-main {
            margin-bottom: 0;
            font-size: 20px;
        }
        &-name-label {
            font-size: 15px;
            line-height: 22px;
        }
        &-content {
            margin-bottom: 0;
        }
        &-description {
            margin-left: auto;
            margin-right: auto;
        }
        &-actions {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &-link {
            margin-right: 0;
        }
        &-name {
            margin-bottom: 6px;
        }
    }
    .seo-feedback {
        padding-top: 42px;
        padding-bottom: 52px;
        &-content {
            flex-direction: column;
        }
        &-form {
            width: 100%;
            padding-right: 0;
        }
        &-img {
            display: none;
        }
        &-title {
            margin-bottom: 18px;
        }
        &-info {
            text-align: center;
            font-size: 18px;
            line-height: 24px;
        }
        &-buttons {
            text-align: center;
        }
    }
    .seo-services {
        margin-bottom: 43px;
        &-list {
            display: block;
            margin-left: 0;
            margin-right: 45px;
        }
        &-list-item {
            width: 100%;
            height: 100%;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }
        &-list-block {
            padding-top: 38px;
            padding-bottom: 43px;
            &:after {
                display: none;
            }
        }
        .owl-stage {
            display: flex;
        }
        .owl-item:not(.active) {
            position: relative;
            overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 2px);
                height: 100%;
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
        &-name {
            margin-bottom: 18px;
            min-height: 54px;
            font-size: 20px;
            line-height: 27px;
        }
        &-sum {
            margin-bottom: 18px;
        }
    }
}