
.svс-detail {
    &-process-title {
        margin-bottom: 68px;
    }
    &-main {
        display: flex;
        margin-top: -5px;
        margin-bottom: 72px;
    }
    &-main-info {
        width: 66%;
        max-width: 670px;
        padding-right: $gutters;
        font-size: 28px;
        color: rgb( 151, 151, 151 );
        line-height: 38px;
        font-weight: 300;
        p {
            margin-bottom: 38px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-main-img {
        width: 34%;
        margin-left: auto;
        margin-right: -14px;
        display: flex;
        align-items: flex-start;
    }

    &-showreel {
        display: flex;
        margin-left: auto;
        margin-top: -40px;
    }
    &-showreel-img {
        position: relative;
        width: 222px;
        margin-right: 63px;
        &:before {
            content: '';
            position: absolute;
            top: 146px;
            left: 50%;
            width: 123px;
            height: 22px;
            margin-left: -5px;
            background: url(../images/svc-detail/showreel-name.png) no-repeat 0 0;
            transform: translateX(-50%);
            background-size: 100% auto;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: -5px;
            margin-left: -5px;
            width: 27px;
            height: 35px;
            background: url(../images/portfolio/portfolio-banner-play.png) no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-showreel-pic {
        display: block;
    }
    &-showreel-decor {
        width: 40px;
        height: 225px;
        background: url(../images/svc-detail/showreel-title.png) no-repeat 0 0;
        background-size: 100% auto;
    }

    &-options {
        margin-bottom: 69px;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #f8f8f8;
    }
    &-options-img {
        width: 25.7%;
        min-height: 100%;
        margin-top: 6px;
        padding-right: 20px;
        border-right: 1px solid #e3e3e3;
    }
    &-options-pic {
    }
    &-options-container {
        display: flex;
    }
    &-options-description {
        width: 74%;
        padding-left: 106px;
    }
    &-options-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin-left: -$gutter;
        margin-right: -$gutter;
        margin-bottom: 0;
    }
    &-options-list-item {
        width: 50%;
        padding-left: $gutter;
        padding-right: $gutter;
    }
    &-options-list-block {
        height: 100%;
        padding: 35px 29px 43px;
        background-color: #fff;
        box-shadow: 0px 0px 40px 0px rgba(1, 1, 1, 0.06);
    }
    &-options-list-info {}
    &-options-list-panel {
        margin-bottom: 2px;
        display: flex;
        align-items: flex-start;
    }
    &-options-count {
        position: relative;
        margin-right: 10px;
        min-width: 80px;
        font-size: 60px;
        line-height: 46px;
        font-weight: 900;
        font-family: 'Helvetica', sans-serif;
        overflow: hidden;
        color: #db352a;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            margin-top: 6px;
            height: 100%;
            background-color: #fff;
            line-height: 0;
          }
    }
    &-options-name {
        margin-top: 3px;
        font-size: 20px;
        font-family: 'Helvetica', sans-serif;
        color: rgb( 34, 34, 34 );
        font-weight: bold;
        line-height: 1.35;
        @include point();
    }
    &-options-title {
        margin-top: -13px;
        margin-bottom: 40px;
    }
    &-clients {
        margin-bottom: 67px;
        border-bottom: 1px solid #ebebeb;
    }
    &-clients-block {
        padding-bottom: 34px;
    }
    &-portfolio {
        margin-bottom: 34px;
    }
    &-portfolio .load-more {
        border-bottom-width: 0;
        margin-bottom: 0;
    }
    &-portfolio .pager {
        display: none;
    }

    &-process {
        position: relative;
        margin-bottom: -1px;
        padding-top: 64px;
        background-color: #f8f8f8;

        .owl-stage {
            display: flex;
        }
    }
    &-process-container {
        position: relative;
    }
    &-process-wrapper {
        position: relative;
    }
    &-process-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-process-list-item {
        width: 33.3%;
        margin-bottom: 79px;
    }
    &-process-layer {
        position: absolute;
        top: -380px;
        left: 66.8%;
        width: 228px;
        height: 612px;
    }
    &-process-layer-1 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 228px;
        height: 233px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='228px' height='233px'%3e%3cpath fill-rule='evenodd' fill='rgb(224, 224, 224)' d='M227.240,231.000 L219.760,231.000 L205.340,231.000 L197.860,231.000 L183.440,231.000 L175.960,231.000 L161.540,231.000 L154.060,231.000 L139.640,231.000 L132.160,231.000 L117.740,231.000 L110.260,231.000 L95.840,231.000 L88.360,231.000 L73.940,231.000 L66.460,231.000 L52.040,231.000 L44.560,231.000 L30.140,231.000 L22.660,231.000 L8.240,231.000 L0.760,231.000 L-0.000,231.000 L-0.000,6.000 L-0.000,4.000 L-0.000,3.000 L4.000,3.000 L11.175,3.000 L19.625,3.000 L33.075,3.000 L41.524,3.000 L54.975,3.000 L63.424,3.000 L76.875,3.000 L85.324,3.000 L98.775,3.000 L107.224,3.000 L120.675,3.000 L129.125,3.000 L142.575,3.000 L151.024,3.000 L152.000,3.000 L153.000,3.000 L153.000,80.000 L225.000,80.000 L226.000,80.000 L228.000,80.000 L228.000,228.000 L228.000,230.000 L228.000,231.000 L227.240,231.000 ZM225.000,192.724 C224.529,192.892 224.029,193.000 223.500,193.000 C221.015,193.000 219.000,190.985 219.000,188.500 C219.000,186.015 221.015,184.000 223.500,184.000 C224.029,184.000 224.529,184.108 225.000,184.275 L225.000,149.724 C224.529,149.892 224.029,150.000 223.500,150.000 C221.015,150.000 219.000,147.985 219.000,145.500 C219.000,143.015 221.015,141.000 223.500,141.000 C224.029,141.000 224.529,141.108 225.000,141.275 L225.000,109.724 C224.529,109.892 224.029,110.000 223.500,110.000 C221.015,110.000 219.000,107.985 219.000,105.500 C219.000,103.015 221.015,101.000 223.500,101.000 C224.029,101.000 224.529,101.108 225.000,101.275 L225.000,83.000 L216.240,83.000 C216.719,83.715 217.000,84.574 217.000,85.500 C217.000,87.985 214.985,90.000 212.500,90.000 C210.015,90.000 208.000,87.985 208.000,85.500 C208.000,84.574 208.281,83.715 208.760,83.000 L194.340,83.000 C194.819,83.715 195.100,84.574 195.100,85.500 C195.100,87.985 193.085,90.000 190.600,90.000 C188.115,90.000 186.100,87.985 186.100,85.500 C186.100,84.574 186.381,83.715 186.860,83.000 L172.440,83.000 C172.919,83.715 173.200,84.574 173.200,85.500 C173.200,87.985 171.185,90.000 168.700,90.000 C166.215,90.000 164.200,87.985 164.200,85.500 C164.200,84.574 164.481,83.715 164.960,83.000 L153.000,83.000 L150.540,83.000 C151.019,83.715 151.300,84.574 151.300,85.500 C151.300,87.985 149.285,90.000 146.800,90.000 C144.315,90.000 142.300,87.985 142.300,85.500 C142.300,83.014 144.315,80.999 146.800,80.999 C148.053,80.999 149.184,81.513 150.000,82.339 L150.000,80.000 L150.000,47.660 C149.184,48.486 148.053,48.999 146.800,48.999 C144.315,48.999 142.300,46.985 142.300,44.499 C142.300,42.014 144.315,40.000 146.800,40.000 C148.053,40.000 149.184,40.513 150.000,41.339 L150.000,7.660 C149.184,8.486 148.053,9.000 146.800,9.000 C144.844,9.000 143.196,7.743 142.576,6.000 L129.124,6.000 C128.504,7.743 126.856,9.000 124.900,9.000 C122.944,9.000 121.296,7.743 120.676,6.000 L107.224,6.000 C106.604,7.744 104.956,9.000 103.000,9.000 C101.043,9.000 99.395,7.744 98.775,6.000 L85.324,6.000 C84.704,7.743 83.056,9.000 81.100,9.000 C79.143,9.000 77.496,7.743 76.876,6.000 L63.424,6.000 C62.804,7.743 61.156,9.000 59.200,9.000 C57.244,9.000 55.596,7.743 54.976,6.000 L41.524,6.000 C40.904,7.743 39.256,9.000 37.300,9.000 C35.344,9.000 33.696,7.743 33.076,6.000 L19.624,6.000 C19.004,7.743 17.356,9.000 15.400,9.000 C13.444,9.000 11.796,7.743 11.176,6.000 L3.000,6.000 L3.000,20.275 C3.471,20.108 3.971,20.000 4.500,20.000 C6.985,20.000 9.000,22.015 9.000,24.500 C9.000,26.985 6.985,29.000 4.500,29.000 C3.971,29.000 3.471,28.892 3.000,28.724 L3.000,60.275 C3.471,60.108 3.971,60.000 4.500,60.000 C6.985,60.000 9.000,62.014 9.000,64.500 C9.000,66.985 6.985,69.000 4.500,69.000 C3.971,69.000 3.471,68.892 3.000,68.724 L3.000,101.275 C3.471,101.108 3.971,101.000 4.500,101.000 C6.985,101.000 9.000,103.015 9.000,105.500 C9.000,107.985 6.985,110.000 4.500,110.000 C3.971,110.000 3.471,109.892 3.000,109.724 L3.000,141.275 C3.471,141.108 3.971,141.000 4.500,141.000 C6.985,141.000 9.000,143.015 9.000,145.500 C9.000,147.985 6.985,150.000 4.500,150.000 C3.971,150.000 3.471,149.892 3.000,149.724 L3.000,184.275 C3.471,184.108 3.971,184.000 4.500,184.000 C6.985,184.000 9.000,186.015 9.000,188.500 C9.000,190.985 6.985,193.000 4.500,193.000 C3.971,193.000 3.471,192.892 3.000,192.724 L3.000,224.275 C3.471,224.108 3.971,224.000 4.500,224.000 C6.814,224.000 8.698,225.753 8.950,228.000 L21.950,228.000 C22.202,225.753 24.086,224.000 26.400,224.000 C28.714,224.000 30.598,225.753 30.849,228.000 L43.850,228.000 C44.102,225.753 45.986,224.000 48.300,224.000 C50.614,224.000 52.498,225.753 52.750,228.000 L65.750,228.000 C66.002,225.753 67.886,224.000 70.200,224.000 C72.514,224.000 74.398,225.753 74.650,228.000 L87.650,228.000 C87.902,225.753 89.786,224.000 92.100,224.000 C94.414,224.000 96.298,225.753 96.550,228.000 L109.550,228.000 C109.802,225.753 111.686,224.000 114.000,224.000 C116.314,224.000 118.198,225.753 118.450,228.000 L131.450,228.000 C131.702,225.753 133.586,224.000 135.900,224.000 C138.214,224.000 140.098,225.753 140.349,228.000 L153.350,228.000 C153.602,225.753 155.486,224.000 157.800,224.000 C160.114,224.000 161.998,225.753 162.250,228.000 L175.250,228.000 C175.502,225.753 177.386,224.000 179.700,224.000 C182.014,224.000 183.898,225.753 184.150,228.000 L197.150,228.000 C197.402,225.753 199.286,224.000 201.600,224.000 C203.914,224.000 205.798,225.753 206.050,228.000 L219.050,228.000 C219.302,225.753 221.186,224.000 223.500,224.000 C224.029,224.000 224.529,224.108 225.000,224.275 L225.000,192.724 ZM212.500,213.000 C210.015,213.000 208.000,210.985 208.000,208.500 C208.000,206.014 210.015,204.000 212.500,204.000 C214.985,204.000 217.000,206.014 217.000,208.500 C217.000,210.985 214.985,213.000 212.500,213.000 ZM212.500,173.000 C210.015,173.000 208.000,170.985 208.000,168.500 C208.000,166.015 210.015,164.000 212.500,164.000 C214.985,164.000 217.000,166.015 217.000,168.500 C217.000,170.985 214.985,173.000 212.500,173.000 ZM212.500,130.000 C210.015,130.000 208.000,127.985 208.000,125.500 C208.000,123.015 210.015,121.000 212.500,121.000 C214.985,121.000 217.000,123.015 217.000,125.500 C217.000,127.985 214.985,130.000 212.500,130.000 ZM201.600,193.000 C199.115,193.000 197.100,190.985 197.100,188.500 C197.100,186.014 199.115,183.999 201.600,183.999 C204.085,183.999 206.100,186.014 206.100,188.500 C206.100,190.985 204.085,193.000 201.600,193.000 ZM201.600,150.000 C199.115,150.000 197.100,147.985 197.100,145.500 C197.100,143.014 199.115,141.000 201.600,141.000 C204.085,141.000 206.100,143.014 206.100,145.500 C206.100,147.985 204.085,150.000 201.600,150.000 ZM201.600,109.999 C199.115,109.999 197.100,107.985 197.100,105.500 C197.100,103.014 199.115,100.999 201.600,100.999 C204.085,100.999 206.100,103.014 206.100,105.500 C206.100,107.985 204.085,109.999 201.600,109.999 ZM190.600,213.000 C188.115,213.000 186.100,210.985 186.100,208.500 C186.100,206.014 188.115,204.000 190.600,204.000 C193.085,204.000 195.100,206.014 195.100,208.500 C195.100,210.985 193.085,213.000 190.600,213.000 ZM190.600,173.000 C188.115,173.000 186.100,170.985 186.100,168.499 C186.100,166.014 188.115,163.999 190.600,163.999 C193.085,163.999 195.100,166.014 195.100,168.499 C195.100,170.985 193.085,173.000 190.600,173.000 ZM190.600,129.999 C188.115,129.999 186.100,127.985 186.100,125.500 C186.100,123.015 188.115,121.000 190.600,121.000 C193.085,121.000 195.100,123.015 195.100,125.500 C195.100,127.985 193.085,129.999 190.600,129.999 ZM179.700,193.000 C177.215,193.000 175.200,190.985 175.200,188.500 C175.200,186.014 177.215,183.999 179.700,183.999 C182.185,183.999 184.200,186.014 184.200,188.500 C184.200,190.985 182.185,193.000 179.700,193.000 ZM179.700,150.000 C177.215,150.000 175.200,147.985 175.200,145.500 C175.200,143.014 177.215,141.000 179.700,141.000 C182.185,141.000 184.200,143.014 184.200,145.500 C184.200,147.985 182.185,150.000 179.700,150.000 ZM179.700,109.999 C177.215,109.999 175.200,107.985 175.200,105.500 C175.200,103.014 177.215,100.999 179.700,100.999 C182.185,100.999 184.200,103.014 184.200,105.500 C184.200,107.985 182.185,109.999 179.700,109.999 ZM168.700,213.000 C166.215,213.000 164.200,210.985 164.200,208.500 C164.200,206.014 166.215,204.000 168.700,204.000 C171.185,204.000 173.200,206.014 173.200,208.500 C173.200,210.985 171.185,213.000 168.700,213.000 ZM168.700,173.000 C166.215,173.000 164.200,170.985 164.200,168.499 C164.200,166.014 166.215,163.999 168.700,163.999 C171.185,163.999 173.200,166.014 173.200,168.499 C173.200,170.985 171.185,173.000 168.700,173.000 ZM168.700,129.999 C166.215,129.999 164.200,127.985 164.200,125.500 C164.200,123.015 166.215,121.000 168.700,121.000 C171.185,121.000 173.200,123.015 173.200,125.500 C173.200,127.985 171.185,129.999 168.700,129.999 ZM157.800,193.000 C155.315,193.000 153.300,190.985 153.300,188.500 C153.300,186.014 155.315,183.999 157.800,183.999 C160.285,183.999 162.300,186.014 162.300,188.500 C162.300,190.985 160.285,193.000 157.800,193.000 ZM157.800,150.000 C155.315,150.000 153.300,147.985 153.300,145.500 C153.300,143.014 155.315,141.000 157.800,141.000 C160.285,141.000 162.300,143.014 162.300,145.500 C162.300,147.985 160.285,150.000 157.800,150.000 ZM157.800,109.999 C155.315,109.999 153.300,107.985 153.300,105.500 C153.300,103.014 155.315,100.999 157.800,100.999 C160.285,100.999 162.300,103.014 162.300,105.500 C162.300,107.985 160.285,109.999 157.800,109.999 ZM146.800,213.000 C144.315,213.000 142.300,210.985 142.300,208.500 C142.300,206.014 144.315,204.000 146.800,204.000 C149.285,204.000 151.300,206.014 151.300,208.500 C151.300,210.985 149.285,213.000 146.800,213.000 ZM146.800,173.000 C144.315,173.000 142.300,170.985 142.300,168.499 C142.300,166.014 144.315,163.999 146.800,163.999 C149.285,163.999 151.300,166.014 151.300,168.499 C151.300,170.985 149.285,173.000 146.800,173.000 ZM146.800,129.999 C144.315,129.999 142.300,127.985 142.300,125.500 C142.300,123.015 144.315,121.000 146.800,121.000 C149.285,121.000 151.300,123.015 151.300,125.500 C151.300,127.985 149.285,129.999 146.800,129.999 ZM135.900,193.000 C133.415,193.000 131.400,190.985 131.400,188.500 C131.400,186.014 133.415,183.999 135.900,183.999 C138.385,183.999 140.400,186.014 140.400,188.500 C140.400,190.985 138.385,193.000 135.900,193.000 ZM135.900,150.000 C133.415,150.000 131.400,147.985 131.400,145.500 C131.400,143.014 133.415,141.000 135.900,141.000 C138.385,141.000 140.400,143.014 140.400,145.500 C140.400,147.985 138.385,150.000 135.900,150.000 ZM135.900,109.999 C133.415,109.999 131.400,107.985 131.400,105.500 C131.400,103.014 133.415,100.999 135.900,100.999 C138.385,100.999 140.400,103.014 140.400,105.500 C140.400,107.985 138.385,109.999 135.900,109.999 ZM135.900,69.000 C133.415,69.000 131.400,66.985 131.400,64.499 C131.400,62.014 133.415,60.000 135.900,60.000 C138.385,60.000 140.400,62.014 140.400,64.499 C140.400,66.985 138.385,69.000 135.900,69.000 ZM135.900,29.000 C133.415,29.000 131.400,26.985 131.400,24.500 C131.400,22.014 133.415,20.000 135.900,20.000 C138.385,20.000 140.400,22.014 140.400,24.500 C140.400,26.985 138.385,29.000 135.900,29.000 ZM124.900,213.000 C122.415,213.000 120.400,210.985 120.400,208.500 C120.400,206.014 122.415,204.000 124.900,204.000 C127.385,204.000 129.400,206.014 129.400,208.500 C129.400,210.985 127.385,213.000 124.900,213.000 ZM124.900,173.000 C122.415,173.000 120.400,170.985 120.400,168.499 C120.400,166.014 122.415,163.999 124.900,163.999 C127.385,163.999 129.400,166.014 129.400,168.499 C129.400,170.985 127.385,173.000 124.900,173.000 ZM124.900,129.999 C122.415,129.999 120.400,127.985 120.400,125.500 C120.400,123.015 122.415,121.000 124.900,121.000 C127.385,121.000 129.400,123.015 129.400,125.500 C129.400,127.985 127.385,129.999 124.900,129.999 ZM124.900,90.000 C122.415,90.000 120.400,87.985 120.400,85.500 C120.400,83.014 122.415,80.999 124.900,80.999 C127.385,80.999 129.400,83.014 129.400,85.500 C129.400,87.985 127.385,90.000 124.900,90.000 ZM124.900,48.999 C122.415,48.999 120.400,46.985 120.400,44.499 C120.400,42.014 122.415,40.000 124.900,40.000 C127.385,40.000 129.400,42.014 129.400,44.499 C129.400,46.985 127.385,48.999 124.900,48.999 ZM114.000,193.000 C111.515,193.000 109.500,190.985 109.500,188.500 C109.500,186.015 111.515,184.000 114.000,184.000 C116.485,184.000 118.500,186.015 118.500,188.500 C118.500,190.985 116.485,193.000 114.000,193.000 ZM114.000,150.000 C111.515,150.000 109.500,147.985 109.500,145.500 C109.500,143.015 111.515,141.000 114.000,141.000 C116.485,141.000 118.500,143.015 118.500,145.500 C118.500,147.985 116.485,150.000 114.000,150.000 ZM114.000,110.000 C111.515,110.000 109.500,107.985 109.500,105.500 C109.500,103.015 111.515,101.000 114.000,101.000 C116.485,101.000 118.500,103.015 118.500,105.500 C118.500,107.985 116.485,110.000 114.000,110.000 ZM114.000,69.000 C111.515,69.000 109.500,66.985 109.500,64.500 C109.500,62.014 111.515,60.000 114.000,60.000 C116.485,60.000 118.500,62.014 118.500,64.500 C118.500,66.985 116.485,69.000 114.000,69.000 ZM114.000,29.000 C111.515,29.000 109.500,26.985 109.500,24.500 C109.500,22.015 111.515,20.000 114.000,20.000 C116.485,20.000 118.500,22.015 118.500,24.500 C118.500,26.985 116.485,29.000 114.000,29.000 ZM103.000,213.000 C100.515,213.000 98.500,210.985 98.500,208.500 C98.500,206.014 100.515,204.000 103.000,204.000 C105.485,204.000 107.500,206.014 107.500,208.500 C107.500,210.985 105.485,213.000 103.000,213.000 ZM103.000,173.000 C100.515,173.000 98.500,170.985 98.500,168.500 C98.500,166.015 100.515,164.000 103.000,164.000 C105.485,164.000 107.500,166.015 107.500,168.500 C107.500,170.985 105.485,173.000 103.000,173.000 ZM103.000,130.000 C100.515,130.000 98.500,127.985 98.500,125.500 C98.500,123.015 100.515,121.000 103.000,121.000 C105.485,121.000 107.500,123.015 107.500,125.500 C107.500,127.985 105.485,130.000 103.000,130.000 ZM103.000,90.000 C100.515,90.000 98.500,87.985 98.500,85.500 C98.500,83.015 100.515,81.000 103.000,81.000 C105.485,81.000 107.500,83.015 107.500,85.500 C107.500,87.985 105.485,90.000 103.000,90.000 ZM103.000,49.000 C100.515,49.000 98.500,46.985 98.500,44.500 C98.500,42.014 100.515,40.000 103.000,40.000 C105.485,40.000 107.500,42.014 107.500,44.500 C107.500,46.985 105.485,49.000 103.000,49.000 ZM92.100,193.000 C89.615,193.000 87.600,190.985 87.600,188.500 C87.600,186.014 89.615,183.999 92.100,183.999 C94.585,183.999 96.600,186.014 96.600,188.500 C96.600,190.985 94.585,193.000 92.100,193.000 ZM92.100,150.000 C89.615,150.000 87.600,147.985 87.600,145.500 C87.600,143.014 89.615,141.000 92.100,141.000 C94.585,141.000 96.600,143.014 96.600,145.500 C96.600,147.985 94.585,150.000 92.100,150.000 ZM92.100,109.999 C89.615,109.999 87.600,107.985 87.600,105.500 C87.600,103.014 89.615,100.999 92.100,100.999 C94.585,100.999 96.600,103.014 96.600,105.500 C96.600,107.985 94.585,109.999 92.100,109.999 ZM92.100,69.000 C89.615,69.000 87.600,66.985 87.600,64.499 C87.600,62.014 89.615,60.000 92.100,60.000 C94.585,60.000 96.600,62.014 96.600,64.499 C96.600,66.985 94.585,69.000 92.100,69.000 ZM92.100,29.000 C89.615,29.000 87.600,26.985 87.600,24.500 C87.600,22.014 89.615,20.000 92.100,20.000 C94.585,20.000 96.600,22.014 96.600,24.500 C96.600,26.985 94.585,29.000 92.100,29.000 ZM81.100,213.000 C78.615,213.000 76.600,210.985 76.600,208.500 C76.600,206.014 78.615,204.000 81.100,204.000 C83.585,204.000 85.600,206.014 85.600,208.500 C85.600,210.985 83.585,213.000 81.100,213.000 ZM81.100,173.000 C78.615,173.000 76.600,170.985 76.600,168.499 C76.600,166.014 78.615,163.999 81.100,163.999 C83.585,163.999 85.600,166.014 85.600,168.499 C85.600,170.985 83.585,173.000 81.100,173.000 ZM81.100,129.999 C78.615,129.999 76.600,127.985 76.600,125.500 C76.600,123.015 78.615,121.000 81.100,121.000 C83.585,121.000 85.600,123.015 85.600,125.500 C85.600,127.985 83.585,129.999 81.100,129.999 ZM81.100,90.000 C78.615,90.000 76.600,87.985 76.600,85.500 C76.600,83.014 78.615,80.999 81.100,80.999 C83.585,80.999 85.600,83.014 85.600,85.500 C85.600,87.985 83.585,90.000 81.100,90.000 ZM81.100,48.999 C78.615,48.999 76.600,46.985 76.600,44.499 C76.600,42.014 78.615,40.000 81.100,40.000 C83.585,40.000 85.600,42.014 85.600,44.499 C85.600,46.985 83.585,48.999 81.100,48.999 ZM70.200,193.000 C67.715,193.000 65.700,190.985 65.700,188.500 C65.700,186.014 67.715,183.999 70.200,183.999 C72.685,183.999 74.700,186.014 74.700,188.500 C74.700,190.985 72.685,193.000 70.200,193.000 ZM70.200,150.000 C67.715,150.000 65.700,147.985 65.700,145.500 C65.700,143.014 67.715,141.000 70.200,141.000 C72.685,141.000 74.700,143.014 74.700,145.500 C74.700,147.985 72.685,150.000 70.200,150.000 ZM70.200,109.999 C67.715,109.999 65.700,107.985 65.700,105.500 C65.700,103.014 67.715,100.999 70.200,100.999 C72.685,100.999 74.700,103.014 74.700,105.500 C74.700,107.985 72.685,109.999 70.200,109.999 ZM70.200,69.000 C67.715,69.000 65.700,66.985 65.700,64.499 C65.700,62.014 67.715,60.000 70.200,60.000 C72.685,60.000 74.700,62.014 74.700,64.499 C74.700,66.985 72.685,69.000 70.200,69.000 ZM70.200,29.000 C67.715,29.000 65.700,26.985 65.700,24.500 C65.700,22.014 67.715,20.000 70.200,20.000 C72.685,20.000 74.700,22.014 74.700,24.500 C74.700,26.985 72.685,29.000 70.200,29.000 ZM59.200,213.000 C56.715,213.000 54.700,210.985 54.700,208.500 C54.700,206.014 56.715,204.000 59.200,204.000 C61.685,204.000 63.700,206.014 63.700,208.500 C63.700,210.985 61.685,213.000 59.200,213.000 ZM59.200,173.000 C56.715,173.000 54.700,170.985 54.700,168.499 C54.700,166.014 56.715,163.999 59.200,163.999 C61.685,163.999 63.700,166.014 63.700,168.499 C63.700,170.985 61.685,173.000 59.200,173.000 ZM59.200,129.999 C56.715,129.999 54.700,127.985 54.700,125.500 C54.700,123.015 56.715,121.000 59.200,121.000 C61.685,121.000 63.700,123.015 63.700,125.500 C63.700,127.985 61.685,129.999 59.200,129.999 ZM59.200,90.000 C56.715,90.000 54.700,87.985 54.700,85.500 C54.700,83.014 56.715,80.999 59.200,80.999 C61.685,80.999 63.700,83.014 63.700,85.500 C63.700,87.985 61.685,90.000 59.200,90.000 ZM59.200,48.999 C56.715,48.999 54.700,46.985 54.700,44.499 C54.700,42.014 56.715,40.000 59.200,40.000 C61.685,40.000 63.700,42.014 63.700,44.499 C63.700,46.985 61.685,48.999 59.200,48.999 ZM48.300,193.000 C45.815,193.000 43.800,190.985 43.800,188.500 C43.800,186.014 45.815,183.999 48.300,183.999 C50.785,183.999 52.800,186.014 52.800,188.500 C52.800,190.985 50.785,193.000 48.300,193.000 ZM48.300,150.000 C45.815,150.000 43.800,147.985 43.800,145.500 C43.800,143.014 45.815,141.000 48.300,141.000 C50.785,141.000 52.800,143.014 52.800,145.500 C52.800,147.985 50.785,150.000 48.300,150.000 ZM48.300,109.999 C45.815,109.999 43.800,107.985 43.800,105.500 C43.800,103.014 45.815,100.999 48.300,100.999 C50.785,100.999 52.800,103.014 52.800,105.500 C52.800,107.985 50.785,109.999 48.300,109.999 ZM48.300,69.000 C45.815,69.000 43.800,66.985 43.800,64.499 C43.800,62.014 45.815,60.000 48.300,60.000 C50.785,60.000 52.800,62.014 52.800,64.499 C52.800,66.985 50.785,69.000 48.300,69.000 ZM48.300,29.000 C45.815,29.000 43.800,26.985 43.800,24.500 C43.800,22.014 45.815,20.000 48.300,20.000 C50.785,20.000 52.800,22.014 52.800,24.500 C52.800,26.985 50.785,29.000 48.300,29.000 ZM37.300,213.000 C34.815,213.000 32.800,210.985 32.800,208.500 C32.800,206.014 34.815,204.000 37.300,204.000 C39.785,204.000 41.800,206.014 41.800,208.500 C41.800,210.985 39.785,213.000 37.300,213.000 ZM37.300,173.000 C34.815,173.000 32.800,170.985 32.800,168.499 C32.800,166.014 34.815,163.999 37.300,163.999 C39.785,163.999 41.800,166.014 41.800,168.499 C41.800,170.985 39.785,173.000 37.300,173.000 ZM37.300,129.999 C34.815,129.999 32.800,127.985 32.800,125.500 C32.800,123.015 34.815,121.000 37.300,121.000 C39.785,121.000 41.800,123.015 41.800,125.500 C41.800,127.985 39.785,129.999 37.300,129.999 ZM37.300,90.000 C34.815,90.000 32.800,87.985 32.800,85.500 C32.800,83.014 34.815,80.999 37.300,80.999 C39.785,80.999 41.800,83.014 41.800,85.500 C41.800,87.985 39.785,90.000 37.300,90.000 ZM37.300,48.999 C34.815,48.999 32.800,46.985 32.800,44.499 C32.800,42.014 34.815,40.000 37.300,40.000 C39.785,40.000 41.800,42.014 41.800,44.499 C41.800,46.985 39.785,48.999 37.300,48.999 ZM26.400,193.000 C23.915,193.000 21.900,190.985 21.900,188.500 C21.900,186.014 23.915,183.999 26.400,183.999 C28.885,183.999 30.900,186.014 30.900,188.500 C30.900,190.985 28.885,193.000 26.400,193.000 ZM26.400,150.000 C23.915,150.000 21.900,147.985 21.900,145.500 C21.900,143.014 23.915,141.000 26.400,141.000 C28.885,141.000 30.900,143.014 30.900,145.500 C30.900,147.985 28.885,150.000 26.400,150.000 ZM26.400,109.999 C23.915,109.999 21.900,107.985 21.900,105.500 C21.900,103.014 23.915,100.999 26.400,100.999 C28.885,100.999 30.900,103.014 30.900,105.500 C30.900,107.985 28.885,109.999 26.400,109.999 ZM26.400,69.000 C23.915,69.000 21.900,66.985 21.900,64.499 C21.900,62.014 23.915,60.000 26.400,60.000 C28.885,60.000 30.900,62.014 30.900,64.499 C30.900,66.985 28.885,69.000 26.400,69.000 ZM26.400,29.000 C23.915,29.000 21.900,26.985 21.900,24.500 C21.900,22.014 23.915,20.000 26.400,20.000 C28.885,20.000 30.900,22.014 30.900,24.500 C30.900,26.985 28.885,29.000 26.400,29.000 ZM15.400,213.000 C12.915,213.000 10.900,210.985 10.900,208.500 C10.900,206.014 12.915,204.000 15.400,204.000 C17.885,204.000 19.900,206.014 19.900,208.500 C19.900,210.985 17.885,213.000 15.400,213.000 ZM15.400,173.000 C12.915,173.000 10.900,170.985 10.900,168.499 C10.900,166.014 12.915,163.999 15.400,163.999 C17.885,163.999 19.900,166.014 19.900,168.499 C19.900,170.985 17.885,173.000 15.400,173.000 ZM15.400,129.999 C12.915,129.999 10.900,127.985 10.900,125.500 C10.900,123.015 12.915,121.000 15.400,121.000 C17.885,121.000 19.900,123.015 19.900,125.500 C19.900,127.985 17.885,129.999 15.400,129.999 ZM15.400,90.000 C12.915,90.000 10.900,87.985 10.900,85.500 C10.900,83.014 12.915,80.999 15.400,80.999 C17.885,80.999 19.900,83.014 19.900,85.500 C19.900,87.985 17.885,90.000 15.400,90.000 ZM15.400,48.999 C12.915,48.999 10.900,46.985 10.900,44.499 C10.900,42.014 12.915,40.000 15.400,40.000 C17.885,40.000 19.900,42.014 19.900,44.499 C19.900,46.985 17.885,48.999 15.400,48.999 Z'/%3e%3c/svg%3e");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    &-process-layer-2 {
        position: absolute;
        top: 0;
        margin-left: 76px;
        width: 383px;
        height: 359px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='383px' height='439px'%3e%3cpath fill-rule='evenodd' fill='rgb(219, 53, 42)' d='M174.505,1.000 L174.625,0.884 L174.738,1.000 L174.505,1.000 ZM94.636,79.000 L98.929,79.000 L126.532,79.000 L130.826,79.000 L158.429,79.000 L162.723,79.000 L190.326,79.000 L194.620,79.000 L222.223,79.000 L226.516,79.000 L230.000,79.000 L232.000,79.000 L233.000,79.000 L233.000,99.625 L233.000,103.818 L233.000,130.775 L233.000,134.968 L233.000,161.925 L233.000,166.118 L233.000,191.604 L233.000,195.797 L233.000,222.754 L233.000,226.947 L233.000,253.904 L233.000,258.097 L233.000,285.054 L233.000,289.247 L233.000,306.999 L151.000,306.999 L151.000,302.834 L151.000,275.877 L151.000,271.684 L151.000,246.198 L151.000,242.005 L151.000,215.048 L151.000,210.855 L151.000,183.898 L151.000,179.705 L151.000,156.000 L147.670,156.000 L143.377,156.000 L115.774,156.000 L111.480,156.000 L83.877,156.000 L79.583,156.000 L76.000,156.000 L76.000,155.000 L76.000,153.000 L76.000,132.542 L76.000,128.349 L76.000,101.392 L76.000,97.199 L76.000,82.000 L76.000,79.000 L79.000,79.000 L94.636,79.000 ZM230.000,304.000 L230.000,292.177 L217.894,304.000 L230.000,304.000 ZM213.600,304.000 L230.000,287.984 L230.000,261.027 L185.997,304.000 L213.600,304.000 ZM181.703,304.000 L230.000,256.834 L230.000,229.877 L154.100,304.000 L181.703,304.000 ZM154.000,299.904 L230.000,225.684 L230.000,198.727 L154.000,272.948 L154.000,299.904 ZM154.000,268.754 L230.000,194.533 L230.000,169.048 L154.000,243.269 L154.000,268.754 ZM154.000,239.075 L230.000,164.855 L230.000,137.898 L154.000,212.118 L154.000,239.075 ZM154.000,207.925 L230.000,133.705 L230.000,106.748 L154.000,180.968 L154.000,207.925 ZM151.000,153.000 L153.000,153.000 L154.000,153.000 L154.000,176.775 L230.000,102.555 L230.000,82.000 L223.444,82.000 L150.742,153.000 L151.000,153.000 ZM146.449,153.000 L219.151,82.000 L191.548,82.000 L118.846,153.000 L146.449,153.000 ZM114.552,153.000 L187.254,82.000 L159.651,82.000 L86.949,153.000 L114.552,153.000 ZM79.000,153.000 L82.655,153.000 L155.357,82.000 L127.754,82.000 L79.000,129.613 L79.000,153.000 ZM79.000,125.419 L123.460,82.000 L95.857,82.000 L79.000,98.463 L79.000,125.419 ZM79.000,94.269 L91.564,82.000 L79.000,82.000 L79.000,94.269 Z'/%3e%3c/svg%3e");
        background-size: 100% auto;
        background-position: 0 50px;
        transition: top 0.1s linear, bottom 0.1s linear;
        background-repeat: no-repeat;
    }
    &-process-layer_fix {
        position: fixed;
        top: 0;
    }
    &-process-layer_bottom {
        position: absolute;
        top: auto;
        bottom: 0;
    }

    &-process-count {
        display: block;
        margin-bottom: 14px;
        font-size: 25px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 219, 53, 42 );
        font-weight: 700;
    }
    &-process-name {
        display: block;
        margin-bottom: 17px;
        font-size: 25px;
        font-family: "Helvetica", sans-serif;
        color: rgb( 34, 34, 34 );
        font-weight: 700;
        @include point();
    }
    &-process-info {
        max-width: 295px;
    }
    &-process-decor {
        position: relative;
        height: 1px;
        margin-bottom: 33px;
        background-color: #e0e0e0;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #222;
        }
    }
}

@media screen
and (max-width: $desktop) {
    .svс-detail {
        &-main-img {
            margin-right: 0;
        }
    }
}

@media screen
and (min-width: $mobile) {
    .svс-detail {
        &-process-list {
            &:after {
                content: '';
                width: 100%;
                order: 0;
            }
        }
        &-process-list-item:nth-child(2) ~ &-process-list-item {
            order: 1;
        }
        &-process-list-item:nth-child(1) &-process-decor,
        &-process-list-item:nth-child(3) &-process-decor,
        &-process-list-item:nth-child(6) &-process-decor, {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 100%;
                width: 100vw;
                max-width: none;
                height: 1px;
                background-color: #e0e0e0;
            }
        }
        &-process-list-item:nth-child(5) &-process-decor,
        &-process-list-item:nth-child(8) &-process-decor {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                width: 100vw;
                max-width: none;
                height: 1px;
                background-color: #e0e0e0;
            }
        }
        &-process-list-item:nth-child(2) &-process-decor {
            margin-right: 30px;
        }
    }
}


@media screen
and (max-width: $tablet) {
    .svс-detail {
        &-title {
            margin-top: -10px;
        }
        &-main {
            margin-top: -6px;
            margin-bottom: 55px;
        }
        &-main-info {
            font-size: 20px;
            line-height: 30px;
            p {
                margin-bottom: 28px;
            }
        }
        &-showreel {
            margin-top: 0px;
        }
        &-options-title {
            margin-top: 0;
            margin-bottom: 26px;
            text-align: center;
        }
        &-options-list-panel {
            margin-bottom: 9px;
        }
        &-showreel-img {
            width: 170px;
            margin-right: 42px;
            &:before {
                top: 113px;
                width: 95px;
                height: 20px;
                margin-left: -2px;
            }
            &:after {
                width: 21px;
                height: 27px;
                margin-top: -4px;
                margin-left: -4px;
            }
        }
        &-showreel-decor {
            margin-top: 4px;
            width: 30px;
            height: 174px;
        }
        &-options {
            margin-bottom: 47px;
            padding-top: 45px;
            padding-bottom: 55px;
        }
        &-options-img {
            display: none;
        }
        &-options-pic {
            max-width: 150px;
        }
        &-options-description {
            width: 100%;
            padding-left: 0;
        }
        &-options-count {
            line-height: 31px;
            min-width: 40px;
            font-size: 30px;
            &:after {
                margin-top: 3px;
            }
        }
        &-options-list-block {
            padding-top: 33px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 39px;
        }
        &-options-name {
            margin-top: 0;
        }
        &-clients {
            margin-bottom: 34px;
            border-bottom-width: 0;
        }
        &-clients-block {
            margin-bottom: 0;
            padding-bottom: 13px;
        }
        &-portfolio {
            margin-bottom: 0;
            .h1 {
                text-align: center;
            }
        }
        &-process {
            padding-top: 55px;
            padding-bottom: 28px;
        }
        &-process-title {
            margin-bottom: 44px;
        }

        &-process-list .owl-item.active &-process-list-item:after {
            display: none;
        }
        &-process-list-item {
            margin-bottom: 41px;
        }
        &-process-info {
            padding-right: 20px;
        }
        &-process-decor {
            margin-bottom: 31px;
        }
        &-process-name {
            margin-bottom: 14px;
            font-size: 18px;
        }
        &-process-count {
            margin-bottom: 11px;
            font-size: 20px;
        }
        &-clients {
            margin-bottom: 21px;
        }

        &-process-layer {
            top: -282px;
            width: 228px;
            height: 421px;
        }
        &-process-layer-1 {
            width: 145px;
            height: 148px;
        }
        &-process-layer-2 {
            margin-left: 49px;
            width: 243px;
            height: 260px;
            background-position: 0 64px;
        }
    }
}

@media screen
and (min-width: $mobile) and (max-width: $tablet) {
}

@media screen
and (max-width: $mobile){
    .svс-detail {
        &-main {
            flex-direction: column;
            margin-bottom: 47px;
        }
        &-title {
            margin-top: 0;
        }
        &-main-info {
            width: 100%;
            max-width: none;
            margin-bottom: 31px;
            padding-right: 0;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            p {
                margin-bottom: 24px;
            }
        }
        &-main-img {
            width: 100%;
            margin-left: 0;
        }
        &-showreel {
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }
        &-showreel-decor {
            display: none;
        }
        &-showreel-img {
            width: 206px;
            margin-right: 0;
            &:before {
                top: 135px;
                width: 114px;
                height: 20px;
                margin-left: -5px;
            }
            &:after {
                width: 25px;
                height: 31px;
                margin-top: -4px;
                margin-left: -4px;
            }
        }
        &-options {
            margin-bottom: 37px;
        }
        &-options-title {
            margin-bottom: 33px;
        }
        &-options-container {
            flex-direction: column;
        }
        &-options-img {
            width: 25.7%;
            min-height: 100%;
            padding-right: 0;
            border-right-width: 0;
        }
        &-options-img {
            width: 100%;
            margin-bottom: 35px;
            text-align: center;
        }
        &-options-description {
            width: 100%;
            padding-left: 0;
        }
        &-options-list-item {
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-options-list-info {
            text-align: center;
        }
        &-options-list-panel {
            display: block;
        }
        &-options-count {
            margin-bottom: 0;
            margin-right: 0;
            &:after {
                margin-top: 2px;
            }
        }
        &-options-name {
            display: block;
            position: relative;
            padding-top: 1px;
        }
        &-options-list-block {
            min-height: 317px;
            padding-top: 28px;
            text-align: center;
        }
        &-clients {
            margin-bottom: 29px;
            padding-bottom: 17px;
        }
        &-process {
            margin-bottom: 26px;
            padding-bottom: 10px;
        }
        &-process-title {
            margin-bottom: 17px;
        }
        &-process .owl-item:last-child &-process-decor {
            background-color: transparent;
        }
        &-process-container {
            &:after {
                display: none;
            }
        }
        &-process-name {
            padding-right: 20px;
            text-align: center;
        }
        &-process-count {
            text-align: center;
        }
        &-process-info {
            max-width: none;
            padding-right: 20px;
            text-align: center;
        }
        &-process-list {
            margin-left: 55px;
            margin-right: 55px;
            &:before {
                display: none;
            }
        }
        &-process-list-item {
            position: relative;
            width: auto;
            margin-bottom: 45px;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #f8f8f8;
                opacity: 0.6;
            }
        }
        &-process-decor {
            &:after {
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &-process-layer {
            display: none;
        }
    }
}
