
.string {
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 68px;
    &-item {
        display: inline-block;
        animation: scroll 30s infinite linear;
    }
    &-label {
        display: inline-block;
        margin-right: 40px;
        padding-left: 3px;
        font-size: 120px;
        line-height: 120px;
        font-weight: 900;
        font-family: 'Helvetica';
        white-space: nowrap;
        background: url("../images/string/string-text.png") no-repeat 0 18px;
        color: transparent;
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

@media screen
and (max-width: $desktop){
}

@media screen
and (max-width: $tablet){
    .string {
        &-label {
            font-size: 70px;
            line-height: 70px;
            background-image: url("../images/string/string-text-tablet.png");
            background-position: 0 10px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .string {
        margin-bottom: 45px;
        &-label {
            font-size: 50px;
            line-height: 50px;
            background-image: url("../images/string/string-text-mob.png");
            background-position: 0 4px;
        }
    }
}
